<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intensitystatetension</key>
	<string>descriptionvalidation</string>
	<key>mendTail</key>
	<string>cycleKind</string>
	<key>rotaterouter</key>
	<string>robustAlignment</string>
	<key>shouldFormatActivity</key>
	<string>completerreplica</string>
</dict>
</plist>
