<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicrepository</key>
	<string>declarativeTask</string>
	<key>cachepressure</key>
	<string>datascale</string>
	<key>greatresolvercount</key>
	<string>subsequentPlayback</string>
	<key>popmargin</key>
	<string>delicateMultiplication</string>
	<key>scrollerShape</key>
	<string>canTransformMember</string>
</dict>
</plist>
