<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessiblelistenerindex</key>
	<string>shouldLayoutTable</string>
	<key>cosineBottom</key>
	<string>orchestrateLayout</string>
	<key>currentgesturedetector</key>
	<string>canYieldCompletion</string>
	<key>declarativecursorrate</key>
	<string>originalaspectratio</string>
	<key>mutableClipper</key>
	<string>certificatedelivery</string>
	<key>unaryPressure</key>
	<string>nextEmitter</string>
</dict>
</plist>
