<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationactivitymargin</key>
	<string>ignoredAsync</string>
	<key>intuitiveBandwidth</key>
	<string>compositionalObserver</string>
	<key>publishworkflow</key>
	<string>interactiveMusic</string>
	<key>sceneinteraction</key>
	<string>canEncodeTechnique</string>
	<key>sliderlinker</key>
	<string>encodeAllocator</string>
</dict>
</plist>
