<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerElement</key>
	<string>routeCapacities</string>
	<key>captionedge</key>
	<string>startContraction</string>
	<key>columnkind</key>
	<string>copyScene</string>
	<key>nextRoute</key>
	<string>rotateTitle</string>
	<key>onnotificationtap</key>
	<string>staticMatrix</string>
	<key>zoneVisibility</key>
	<string>symmetricIndicator</string>
</dict>
</plist>
