<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationTag</key>
	<string>configureBuffer</string>
	<key>futuretaskdistance</key>
	<string>scaffoldCoord</string>
	<key>logarithmMomentum</key>
	<string>accessibleBinary</string>
	<key>mediocreSlash</key>
	<string>widgetAppearance</string>
	<key>shouldresumereference</key>
	<string>capsuleProxy</string>
	<key>uniquePrecision</key>
	<string>unaryStyle</string>
</dict>
</plist>
