<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerStyle</key>
	<string>poolobserver</string>
	<key>consultativeScenario</key>
	<string>setupGrain</string>
	<key>directEvent</key>
	<string>brushRight</string>
	<key>routeincludetemple</key>
	<string>shouldSkipTransition</string>
	<key>shouldUpdateAxis</key>
	<string>refactorPresenter</string>
</dict>
</plist>
