<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorstatus</key>
	<string>composableFrame</string>
	<key>displayablespottransparency</key>
	<string>playbacktype</string>
	<key>linkerDirection</key>
	<string>shouldTrainFragment</string>
	<key>remediationMomentum</key>
	<string>layoutMargin</string>
</dict>
</plist>
