<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileEvolution</key>
	<string>localequalization</string>
	<key>attachlocalization</key>
	<string>scrollableResource</string>
	<key>dedicatedinkwell</key>
	<string>singletonTension</string>
	<key>disparatereducer</key>
	<string>routeAxis</string>
	<key>elasticClipper</key>
	<string>similarCapsule</string>
	<key>elasticsubscriber</key>
	<string>mediumMetrics</string>
	<key>shouldDispatchLog</key>
	<string>tensorOperation</string>
	<key>tabbarAppearance</key>
	<string>fixedPlate</string>
	<key>transitioninbridge</key>
	<string>semanticsObserver</string>
	<key>uniqueOffset</key>
	<string>remainderrate</string>
</dict>
</plist>
