<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>instructionduration</key>
	<string>detachHero</string>
	<key>momentumwithouttier</key>
	<string>processDescriptor</string>
	<key>undertakemetadata</key>
	<string>canUnmountedImage</string>
</dict>
</plist>
