<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entropyOffset</key>
	<string>desktopcontainer</string>
	<key>matrixInset</key>
	<string>subscribeDecoration</string>
	<key>radiusRight</key>
	<string>advancedTool</string>
	<key>specifierascent</key>
	<string>typicalgraph</string>
</dict>
</plist>
