<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultTextField</key>
	<string>annotatetransition</string>
	<key>displayablePublisher</key>
	<string>retainedMission</string>
	<key>instructionPosition</key>
	<string>functionalModulus</string>
	<key>multiStack</key>
	<string>reconcileSlider</string>
	<key>propagatesink</key>
	<string>functionalMedia</string>
	<key>shouldDisconnectProfile</key>
	<string>retainTween</string>
	<key>shouldFetchStep</key>
	<string>canAttachArithmetic</string>
	<key>uniqueallocatorpadding</key>
	<string>permanentFormat</string>
	<key>uniquetextedge</key>
	<string>captionSpacing</string>
	<key>unsortedLabel</key>
	<string>chartDensity</string>
</dict>
</plist>
