<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsulevector</key>
	<string>lazyCluster</string>
	<key>currentDuration</key>
	<string>canStopGesture</string>
	<key>currentmodal</key>
	<string>shouldSubscribeConvolution</string>
	<key>dimensioncontextname</key>
	<string>responsiveGram</string>
	<key>disabledIntegration</key>
	<string>ignoredsubpixel</string>
	<key>othertaxonomy</key>
	<string>shouldConnectTransition</string>
	<key>taskcolor</key>
	<string>futureContrast</string>
</dict>
</plist>
