<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detachcontraction</key>
	<string>mainGram</string>
	<key>immediateColor</key>
	<string>sanitizeboxshadow</string>
	<key>plateCoord</key>
	<string>defaultOperation</string>
	<key>primaryCanvas</key>
	<string>capacityBound</string>
	<key>scrollableSubscription</key>
	<string>profileMethod</string>
	<key>shouldDeserializeCheckbox</key>
	<string>tweenParameter</string>
	<key>shouldSubscribeOverlay</key>
	<string>shouldHandleCatalyst</string>
	<key>slasheffect</key>
	<string>titleResponse</string>
	<key>symmetricEqualization</key>
	<string>inactiveInterpolation</string>
	<key>typicalHeap</key>
	<string>missionskewx</string>
</dict>
</plist>
