<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentPublisher</key>
	<string>canFormatCollection</string>
	<key>functionalVideo</key>
	<string>attachchecklist</string>
	<key>isspecifier</key>
	<string>deferredAxis</string>
	<key>replacekernel</key>
	<string>eraseChannel</string>
	<key>shouldNotifyBuilder</key>
	<string>canStopMultiplication</string>
	<key>shouldTransformTask</key>
	<string>skirtSaturation</string>
	<key>viewSkewY</key>
	<string>seekLoop</string>
</dict>
</plist>
