<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonProcessor</key>
	<string>transpileZone</string>
	<key>consultativeThroughput</key>
	<string>directaction</string>
	<key>crucialbutton</key>
	<string>contrastResponse</string>
	<key>hierarchicalLifecycle</key>
	<string>subscriptionforce</string>
	<key>inactiveService</key>
	<string>subscriptionColor</string>
	<key>intermediateProvider</key>
	<string>animatedStroke</string>
	<key>mergerTail</key>
	<string>firstSubscription</string>
	<key>shouldAnimateKernel</key>
	<string>substantialBorder</string>
</dict>
</plist>
