<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianDistinction</key>
	<string>substantialTrajectory</string>
	<key>checklistVelocity</key>
	<string>inactiveMember</string>
	<key>dependencyBound</key>
	<string>subpixeloffacade</string>
	<key>hardExponent</key>
	<string>specifySkin</string>
	<key>resizableRoute</key>
	<string>searcherFlags</string>
	<key>shouldEmitMultiplication</key>
	<string>stringifyReducer</string>
	<key>statefulGate</key>
	<string>shouldLoadClipper</string>
	<key>transformeraction</key>
	<string>cosinepermutation</string>
</dict>
</plist>
