<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileaspect</key>
	<string>subsequentScope</string>
	<key>animatedScaffold</key>
	<string>stopMaster</string>
	<key>easyBandwidth</key>
	<string>shouldUnmountedDuration</string>
	<key>eventCoord</key>
	<string>componentStyle</string>
	<key>independentDetector</key>
	<string>shouldEncodeRemainder</string>
	<key>mainThreshold</key>
	<string>labelincludephase</string>
	<key>musicDelay</key>
	<string>canDisposeGesture</string>
	<key>presenterworkscale</key>
	<string>canSkipSymbol</string>
	<key>synccupertino</key>
	<string>staticoptimizer</string>
</dict>
</plist>
