<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicBullet</key>
	<string>canNotifyDrawer</string>
	<key>draggableConnector</key>
	<string>numericalItem</string>
	<key>modelrecursion</key>
	<string>crudecontroller</string>
	<key>requiredRenderer</key>
	<string>euclideanPopup</string>
	<key>screenTint</key>
	<string>canFinishTernary</string>
	<key>sequentialScale</key>
	<string>cellTension</string>
	<key>singletonmementolocation</key>
	<string>coordinatorshape</string>
</dict>
</plist>
