<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keyModulus</key>
	<string>mobileSchema</string>
	<key>largeoffset</key>
	<string>currentmargin</string>
	<key>mainCharacteristic</key>
	<string>canMountedLogarithm</string>
	<key>optimizerBound</key>
	<string>mutableSizedBox</string>
</dict>
</plist>
