<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>amortizationTag</key>
	<string>currentTransformer</string>
	<key>diversifiedprojectionbottom</key>
	<string>smartChannels</string>
	<key>explicitTriangles</key>
	<string>drawerRate</string>
	<key>materializerstyle</key>
	<string>errorLocation</string>
	<key>modalRight</key>
	<string>decorationanalyzer</string>
	<key>originalemitter</key>
	<string>euclideanHeap</string>
	<key>shouldUnmountedEquipment</key>
	<string>freeTransition</string>
	<key>skirtFrequency</key>
	<string>diffableResource</string>
</dict>
</plist>
