<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeProvider</key>
	<string>arithmeticgroupduration</string>
	<key>fragmentoccasion</key>
	<string>rotatetable</string>
	<key>mobileLifecycle</key>
	<string>touchZone</string>
</dict>
</plist>
