<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>originalScene</key>
	<string>dynamicRadius</string>
	<key>pageviewcenter</key>
	<string>resolverinterval</string>
	<key>reusableMaterial</key>
	<string>reflectHash</string>
	<key>shouldPublishGradient</key>
	<string>crucialHandler</string>
</dict>
</plist>
