<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completercompositeskewy</key>
	<string>normalEqualization</string>
	<key>iscomposition</key>
	<string>shouldValidateCache</string>
	<key>kernelTension</key>
	<string>shouldbindcharacter</string>
	<key>materializerdepth</key>
	<string>performSingleton</string>
	<key>numericalMenu</key>
	<string>directScene</string>
	<key>slideractivityvisibility</key>
	<string>subtleBullet</string>
	<key>subsequentScenario</key>
	<string>connectorSize</string>
</dict>
</plist>
