<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>copygroup</key>
	<string>evaluateWidget</string>
	<key>difficultBatch</key>
	<string>groupmodehead</string>
	<key>draggableTabBar</key>
	<string>hyperbolicManager</string>
	<key>overlayTop</key>
	<string>cardShade</string>
</dict>
</plist>
