<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerMargin</key>
	<string>radioVisible</string>
	<key>customizedcompleter</key>
	<string>updateMap</string>
	<key>extensionfacadecoord</key>
	<string>directgraphresponse</string>
	<key>granularremainder</key>
	<string>charttension</string>
	<key>mediocreframe</key>
	<string>sessionMomentum</string>
	<key>multiLocalization</key>
	<string>canDisconnectScale</string>
	<key>shouldNavigateNotification</key>
	<string>unsortedChannel</string>
	<key>sinkSkewY</key>
	<string>nativeBoxShadow</string>
	<key>webReducer</key>
	<string>customizedgramtint</string>
</dict>
</plist>
