<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerRight</key>
	<string>synchronizeDelegate</string>
	<key>asynchronousSizedBox</key>
	<string>mobileLocalization</string>
	<key>disparateService</key>
	<string>progressbarBuffer</string>
	<key>hyperbolicGate</key>
	<string>canPreparePositioned</string>
	<key>lossAlignment</key>
	<string>shouldStopExpanded</string>
	<key>mainBinder</key>
	<string>asynchronousScope</string>
	<key>opaqueConsumer</key>
	<string>behaviorFeedback</string>
	<key>stackawaytask</key>
	<string>bundleAlignment</string>
	<key>transformerorientation</key>
	<string>createclipper</string>
</dict>
</plist>
