<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorContrast</key>
	<string>resumeAspect</string>
	<key>protocolflyweightdepth</key>
	<string>coordinatorStrategy</string>
	<key>requiredCursor</key>
	<string>respectiveThroughput</string>
	<key>sliderTag</key>
	<string>statelessListView</string>
	<key>uniformcallbackdelay</key>
	<string>notificationappearance</string>
</dict>
</plist>
