<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chooserKind</key>
	<string>infoHue</string>
	<key>disposescale</key>
	<string>invokeService</string>
	<key>imperativeCertificate</key>
	<string>repositoryScope</string>
	<key>menustructureshade</key>
	<string>crudeRecursion</string>
	<key>particlerate</key>
	<string>consultativeDelegate</string>
	<key>rebuildgrayscale</key>
	<string>publicDetail</string>
	<key>subsequentRichText</key>
	<string>certificateasync</string>
	<key>toolincludevalue</key>
	<string>strengthResponse</string>
	<key>vertexDirection</key>
	<string>canSetStateContraction</string>
	<key>viewOpacity</key>
	<string>listenerSpacing</string>
</dict>
</plist>
