<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacityForce</key>
	<string>storyboardAcceleration</string>
	<key>commonInteger</key>
	<string>fixedCurve</string>
	<key>comprehensiveMusic</key>
	<string>firstInstruction</string>
	<key>contrastSize</key>
	<string>commonTrajectory</string>
	<key>grayscaledelay</key>
	<string>polyfillSkewX</string>
	<key>screenhue</key>
	<string>layoutSlash</string>
	<key>techniquetension</key>
	<string>symbolStyle</string>
</dict>
</plist>
