<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shouldstartequipment</key>
	<string>menutype</string>
	<key>subscriptiontail</key>
	<string>invisibleEvolution</string>
</dict>
</plist>
