<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchlikememento</key>
	<string>resumeComposition</string>
	<key>boxshadowLocation</key>
	<string>fixedPoint</string>
	<key>cubetail</key>
	<string>dispatchscreen</string>
	<key>firstElasticity</key>
	<string>grainwithoutlayer</string>
	<key>modelType</key>
	<string>seamlessMenu</string>
	<key>mutableSegue</key>
	<string>shouldCreateShader</string>
	<key>publicGestureDetector</key>
	<string>skipLoss</string>
	<key>semanticconstant</key>
	<string>viewresponse</string>
</dict>
</plist>
