<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatenib</key>
	<string>histogramspacing</string>
	<key>cartesianTolerance</key>
	<string>attachFeature</string>
	<key>composableController</key>
	<string>restartEqualization</string>
	<key>currentscaffold</key>
	<string>canRebuildConvolution</string>
	<key>geometricColumn</key>
	<string>paddingscale</string>
	<key>inkwellformhead</key>
	<string>statelessConsumer</string>
	<key>kernelstrategyvisibility</key>
	<string>aspectalignment</string>
	<key>scrollkind</key>
	<string>dedicatedtopicvisibility</string>
	<key>searcherScale</key>
	<string>arithmeticDrawer</string>
	<key>shouldSaveSine</key>
	<string>profileTag</string>
</dict>
</plist>
