<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsulehandler</key>
	<string>canSaveCurve</string>
	<key>injectchannel</key>
	<string>sustainableElement</string>
	<key>richtextForce</key>
	<string>axisOrigin</string>
	<key>sequentialRemediation</key>
	<string>aggregateInteractor</string>
	<key>shouldBuildStack</key>
	<string>axisTint</string>
	<key>shouldMountFlex</key>
	<string>multiplicationBehavior</string>
	<key>statefulprovider</key>
	<string>toolSpeed</string>
	<key>storeerror</key>
	<string>animatedcontainerdecoration</string>
	<key>threadvisibility</key>
	<string>crudeView</string>
</dict>
</plist>
