<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lifecycleTop</key>
	<string>publishUnary</string>
	<key>navigatorintegration</key>
	<string>subsequentClipper</string>
	<key>shouldEndAlert</key>
	<string>relationalrange</string>
	<key>syncfuture</key>
	<string>paintgift</string>
	<key>titlecommandbrightness</key>
	<string>canTransformMomentum</string>
	<key>webTool</key>
	<string>contractionAppearance</string>
</dict>
</plist>
