<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>architectureHue</key>
	<string>multiSound</string>
	<key>awaitLocation</key>
	<string>shouldLayoutConvolution</string>
	<key>commonSession</key>
	<string>agileWrapper</string>
	<key>logarithmbehavior</key>
	<string>tableLayer</string>
	<key>otherPrecision</key>
	<string>provideLayout</string>
	<key>tensorGift</key>
	<string>offsetHandler</string>
</dict>
</plist>
