<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardsingleton</key>
	<string>interactiveEvolution</string>
	<key>capsuleColor</key>
	<string>shouldSaveDecoration</string>
	<key>denseState</key>
	<string>geometricPolygon</string>
	<key>particleskewx</key>
	<string>savedescription</string>
	<key>permanentNotation</key>
	<string>canFetchProject</string>
	<key>protectedGroup</key>
	<string>delicateRow</string>
	<key>techniqueType</key>
	<string>cycleStructure</string>
	<key>tentativeState</key>
	<string>disposeconfiguration</string>
</dict>
</plist>
