<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>islogarithm</key>
	<string>popupprovider</string>
	<key>iterativescalability</key>
	<string>errorSpacing</string>
	<key>metricsPadding</key>
	<string>unbindcosine</string>
	<key>mutableGraphic</key>
	<string>typicalSizedBox</string>
	<key>originalReducer</key>
	<string>vectorForm</string>
	<key>reactiveNode</key>
	<string>canEmitExponent</string>
	<key>revisitrichtext</key>
	<string>measureduration</string>
	<key>shouldPublishProject</key>
	<string>animatedFrame</string>
	<key>unactivatedBandwidth</key>
	<string>canDismissKernel</string>
</dict>
</plist>
