<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatestorage</key>
	<string>unmountedchapter</string>
	<key>associatedContraction</key>
	<string>subtleaxisstatus</string>
	<key>delegatehue</key>
	<string>routeJob</string>
	<key>descentEdge</key>
	<string>plateSingleton</string>
	<key>nibHue</key>
	<string>specifyImpression</string>
	<key>tappablestep</key>
	<string>unregistermobile</string>
</dict>
</plist>
