<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hyperbolicEntity</key>
	<string>validateMobile</string>
	<key>reactiveChannel</key>
	<string>liteRichText</string>
	<key>shouldFinishSkirt</key>
	<string>usagetimer</string>
	<key>sortedbitrateoffset</key>
	<string>canProcessHistogram</string>
</dict>
</plist>
