<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaScale</key>
	<string>ephemeralGroup</string>
	<key>disparateConvolution</key>
	<string>priorScenario</string>
	<key>displayableAnimatedContainer</key>
	<string>primaryservicedirection</string>
	<key>immutableCapacity</key>
	<string>boxshadowFeedback</string>
	<key>projectBottom</key>
	<string>significantFinder</string>
	<key>shouldDisconnectMember</key>
	<string>selectedUnary</string>
</dict>
</plist>
