<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedsorter</key>
	<string>shouldTransitionPlate</string>
	<key>channelSkewX</key>
	<string>receivesignature</string>
	<key>disclaimerRate</key>
	<string>reduceCoordinator</string>
	<key>immediateAppBar</key>
	<string>cellOffset</string>
	<key>informationFrequency</key>
	<string>disparateLinker</string>
	<key>permissiveSink</key>
	<string>eagerTexture</string>
	<key>shouldcachecollection</key>
	<string>segueStructure</string>
	<key>statefulSymbol</key>
	<string>listenMember</string>
</dict>
</plist>
