<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>celldispatcher</key>
	<string>hierarchicalSpot</string>
	<key>currentmovement</key>
	<string>selectedsymbol</string>
	<key>flexibleTime</key>
	<string>skipCell</string>
	<key>lostvectortag</key>
	<string>canEmitBaseline</string>
	<key>normalPrecision</key>
	<string>sophisticatedReference</string>
	<key>playbackBottom</key>
	<string>visibleOption</string>
</dict>
</plist>
