<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableTime</key>
	<string>intensityFeedback</string>
	<key>compositionalReducer</key>
	<string>attachCapacities</string>
	<key>crudeCharacteristic</key>
	<string>keyCapsule</string>
	<key>customizedGram</key>
	<string>synchronousTable</string>
	<key>delicatemodelhue</key>
	<string>liteVertex</string>
	<key>modulusabouttask</key>
	<string>strokeMargin</string>
	<key>scrollableAudio</key>
	<string>timeScale</string>
	<key>smallFeature</key>
	<string>popupInteraction</string>
	<key>vertextail</key>
	<string>normalMission</string>
</dict>
</plist>
