<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalItem</key>
	<string>alphaVar</string>
	<key>isolateinfrastructure</key>
	<string>queueTask</string>
	<key>publisherDepth</key>
	<string>unlockRoute</string>
	<key>respectiveTexture</key>
	<string>boxshadowPosition</string>
	<key>subsequentBloc</key>
	<string>agileCompleter</string>
	<key>transformerduringsystem</key>
	<string>backwardAscent</string>
</dict>
</plist>
