<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertSaturation</key>
	<string>certificateinset</string>
	<key>consultativehistogramspeed</key>
	<string>prepareEquipment</string>
	<key>intuitiveMaterial</key>
	<string>hasslash</string>
	<key>pivotaltextfield</key>
	<string>playbackCenter</string>
	<key>popmobile</key>
	<string>inheritedSound</string>
	<key>primarySegue</key>
	<string>euclideanInteger</string>
	<key>uniquereducer</key>
	<string>meshresponse</string>
</dict>
</plist>
