<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedReceiver</key>
	<string>fusedoverlay</string>
	<key>granularBrush</key>
	<string>shouldDismissHeap</string>
	<key>persistentRadius</key>
	<string>obtainConstraint</string>
	<key>shouldlistenunary</key>
	<string>switchHue</string>
</dict>
</plist>
