<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gridviewtimeline</key>
	<string>pushEqualization</string>
	<key>masterforce</key>
	<string>popupDecorator</string>
	<key>materialVisibility</key>
	<string>signatureFacade</string>
	<key>protectedtaxonomy</key>
	<string>popGram</string>
	<key>statefulEvaluation</key>
	<string>handlerOffset</string>
	<key>tappableGraph</key>
	<string>hardArithmetic</string>
	<key>toolDistance</key>
	<string>channelScope</string>
</dict>
</plist>
