<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalSubscriber</key>
	<string>collectionSingleton</string>
	<key>consultativeStream</key>
	<string>shouldContinueFragment</string>
	<key>controlleroperationtint</key>
	<string>sortedSymbol</string>
	<key>invisibleFeature</key>
	<string>advancedModal</string>
	<key>layoutEdge</key>
	<string>defaultlistview</string>
	<key>progressbartint</key>
	<string>constraintkind</string>
	<key>rapidPageView</key>
	<string>offsetFactory</string>
	<key>shouldSkipCatalyst</key>
	<string>canResumeContainer</string>
	<key>shouldStreamSlider</key>
	<string>lazyView</string>
	<key>shouldtransitionshader</key>
	<string>cellMemento</string>
</dict>
</plist>
