<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>amortizationAlignment</key>
	<string>scrollabledata</string>
	<key>animatedCell</key>
	<string>protocolmementorate</string>
	<key>createcube</key>
	<string>renameTask</string>
	<key>framecallback</key>
	<string>informationBorder</string>
	<key>newestRoute</key>
	<string>reducerMode</string>
	<key>protectedBullet</key>
	<string>canResumeLayout</string>
	<key>relationalListView</key>
	<string>canCreatePlate</string>
	<key>rendererShape</key>
	<string>offsetNumber</string>
	<key>shouldValidateSpine</key>
	<string>pivotalPrecision</string>
	<key>sizelocation</key>
	<string>shouldDispatchSubpixel</string>
</dict>
</plist>
