<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousStatus</key>
	<string>navigatoraspect</string>
	<key>buttoncontainsystem</key>
	<string>poolTimer</string>
	<key>cartesianTransformer</key>
	<string>shouldReplaceCaption</string>
	<key>currentcache</key>
	<string>routeSize</string>
	<key>firstduration</key>
	<string>menuDepth</string>
	<key>inactiveSizedBox</key>
	<string>canLayoutGram</string>
	<key>interactorcallback</key>
	<string>strengthstate</string>
	<key>materialLinker</key>
	<string>canTrainSample</string>
	<key>mutableLabel</key>
	<string>promiseBridge</string>
	<key>permanentPoint</key>
	<string>declarativeProgressBar</string>
</dict>
</plist>
