<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveAsync</key>
	<string>encodeOffset</string>
	<key>baselineStyle</key>
	<string>gradientBound</string>
	<key>crucialCubit</key>
	<string>ephemeralcard</string>
	<key>graphicShape</key>
	<string>normLeft</string>
	<key>iterativeLabel</key>
	<string>canUnmountEntropy</string>
	<key>mediumBatch</key>
	<string>usageintegration</string>
	<key>parallelradio</key>
	<string>captionChain</string>
	<key>shouldCreateStoryboard</key>
	<string>canNavigateBox</string>
	<key>tasknearlayer</key>
	<string>activateSink</string>
	<key>topicbound</key>
	<string>detachConvolution</string>
</dict>
</plist>
