<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushName</key>
	<string>readPresenter</string>
	<key>inactiveboxsaturation</key>
	<string>resolverSpeed</string>
	<key>mainBitrate</key>
	<string>staticTable</string>
	<key>pivotalnavigatorhead</key>
	<string>canFormatOptimizer</string>
	<key>plateName</key>
	<string>preparewidget</string>
</dict>
</plist>
