<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analogyTheme</key>
	<string>aspectIndex</string>
	<key>serializesignature</key>
	<string>transformDropdownButton</string>
	<key>similarstorageborder</key>
	<string>difficultZone</string>
	<key>standaloneImpact</key>
	<string>rowMomentum</string>
</dict>
</plist>
