<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableResolver</key>
	<string>queueHue</string>
	<key>inactiveobserverspeed</key>
	<string>encodeAlpha</string>
	<key>litePicker</key>
	<string>composableNib</string>
	<key>relationalPainter</key>
	<string>criticalColor</string>
	<key>scrollableConfiguration</key>
	<string>volumeRotation</string>
	<key>statefulmaterial</key>
	<string>textplatformstatus</string>
</dict>
</plist>
