<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionMonster</key>
	<string>factoryfrompattern</string>
	<key>activatedTransformer</key>
	<string>shouldSaveDelegate</string>
	<key>equalizationperparameter</key>
	<string>substantialPresenter</string>
	<key>intuitiveResponse</key>
	<string>setstatealert</string>
	<key>lastSemantics</key>
	<string>vectorizeObserver</string>
	<key>misseddescriptorvisible</key>
	<string>displayableDrawer</string>
	<key>shouldMountMaterial</key>
	<string>certificateStage</string>
	<key>sliderforsingleton</key>
	<string>publiccontrolleracceleration</string>
	<key>symmetricSymbol</key>
	<string>resolverRotation</string>
</dict>
</plist>
