<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedTaxonomy</key>
	<string>canDetachIcon</string>
	<key>discardedTechnique</key>
	<string>processfeature</string>
	<key>shouldCacheReduction</key>
	<string>pivotalFrame</string>
</dict>
</plist>
