<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cyclecycletype</key>
	<string>largespecifierresponse</string>
	<key>easyElement</key>
	<string>gemEnvironment</string>
	<key>instructionAcceleration</key>
	<string>undertakeParticle</string>
	<key>mediaformat</key>
	<string>momentumaboutinterpreter</string>
	<key>rapidVector</key>
	<string>impressionType</string>
	<key>shouldFormatRichText</key>
	<string>staticMatrix</string>
	<key>topicreducer</key>
	<string>standaloneProvision</string>
</dict>
</plist>
