<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileIcon</key>
	<string>onmusictap</string>
	<key>callbackrotation</key>
	<string>modulusFrequency</string>
	<key>capsuleappearance</key>
	<string>difficultAnimation</string>
	<key>connectbloc</key>
	<string>pivotalArchitecture</string>
</dict>
</plist>
