<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curvecolor</key>
	<string>canFetchWidget</string>
	<key>inactiveDetail</key>
	<string>scrollableStoryboard</string>
	<key>resilientResponder</key>
	<string>mobileDependency</string>
	<key>shouldPersistUnary</key>
	<string>shouldCancelTernary</string>
	<key>sizekindhead</key>
	<string>shouldPresentBinary</string>
</dict>
</plist>
