<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffablePosition</key>
	<string>similarMetadata</string>
	<key>inkwellormethod</key>
	<string>permanentMargin</string>
	<key>logarithmdespiteproxy</key>
	<string>canDisposeTabView</string>
	<key>materialEntity</key>
	<string>shouldValidateSizedBox</string>
	<key>persistentModule</key>
	<string>publisherVisible</string>
	<key>promiseindex</key>
	<string>materialEfficiency</string>
	<key>rectcontextlocation</key>
	<string>amortizationAcceleration</string>
	<key>shouldUnmountBullet</key>
	<string>canDispatchUnary</string>
	<key>tickerType</key>
	<string>unmountedBrush</string>
	<key>usedUtil</key>
	<string>frameResponse</string>
</dict>
</plist>
