<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentmethod</key>
	<string>shouldProcessInkWell</string>
	<key>disabledDisclaimer</key>
	<string>buildCoordinator</string>
	<key>immutableProcessor</key>
	<string>globalInterpolation</string>
	<key>keyRole</key>
	<string>explicitRecursion</string>
	<key>sophisticatedElasticity</key>
	<string>eventOrigin</string>
	<key>staticconfiguration</key>
	<string>crudeProcessor</string>
	<key>tickerValidation</key>
	<string>mendSpacing</string>
</dict>
</plist>
