<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveIntensity</key>
	<string>destroyVector</string>
	<key>invisibleOverlay</key>
	<string>secondPermutation</string>
	<key>prismaticRadius</key>
	<string>taskFlags</string>
	<key>shapeOrigin</key>
	<string>challengeframe</string>
	<key>shouldDisconnectPageView</key>
	<string>rapidusecase</string>
	<key>stackmenu</key>
	<string>shouldformatgift</string>
	<key>typicalAnimator</key>
	<string>sharedNavigation</string>
	<key>volumeOrientation</key>
	<string>shouldYieldCupertino</string>
</dict>
</plist>
