<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationdecoratorskewx</key>
	<string>ephemeralWorkflow</string>
	<key>asyncHead</key>
	<string>observernearpattern</string>
	<key>cubebound</key>
	<string>containerbehavior</string>
	<key>detachscaffold</key>
	<string>elementVisible</string>
	<key>firstStroke</key>
	<string>lazyTween</string>
	<key>lossRight</key>
	<string>subpixelBrightness</string>
	<key>mitigatelogarithm</key>
	<string>loadHeap</string>
	<key>staticCache</key>
	<string>shouldMountCompletion</string>
	<key>transitiontail</key>
	<string>mobileTask</string>
</dict>
</plist>
