<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsulerect</key>
	<string>routerDelay</string>
	<key>characterSize</key>
	<string>shouldCreateTabBar</string>
	<key>hyperbolicMapper</key>
	<string>publishRadio</string>
	<key>inactiveAspectRatio</key>
	<string>vectorizeTween</string>
	<key>protocolmethodlocation</key>
	<string>marshalSprite</string>
	<key>requiredMaster</key>
	<string>globalParticle</string>
	<key>resilientDescriptor</key>
	<string>permissiveRemediation</string>
</dict>
</plist>
