<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteclipperrotation</key>
	<string>statelessModulus</string>
	<key>dialogsdescription</key>
	<string>specifierVisible</string>
	<key>difficultRemainder</key>
	<string>shouldCacheTask</string>
	<key>emitresource</key>
	<string>emitModulus</string>
	<key>herovelocity</key>
	<string>inactiveMonster</string>
	<key>pinchableBuilder</key>
	<string>cacheRole</string>
	<key>pivotalInterface</key>
	<string>resizableGram</string>
	<key>shouldTransformCell</key>
	<string>repositoryHue</string>
</dict>
</plist>
