<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesAppearance</key>
	<string>alignmentScale</string>
	<key>delicatePlayback</key>
	<string>limitDescription</string>
	<key>metadatabeyondactivity</key>
	<string>responsiveAnimatedContainer</string>
	<key>sequentialRequest</key>
	<string>strengthAlignment</string>
	<key>shouldDismissInterpolation</key>
	<string>resizableFactory</string>
	<key>subpixelVelocity</key>
	<string>disabledCombiner</string>
</dict>
</plist>
