<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buildcycle</key>
	<string>significantAspect</string>
	<key>composablecurveborder</key>
	<string>menucreator</string>
	<key>injectionbottom</key>
	<string>concurrentInteger</string>
	<key>mapperKind</key>
	<string>shouldCreateSensor</string>
</dict>
</plist>
