<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedTangent</key>
	<string>shouldSkipCoordinator</string>
	<key>axiscontainer</key>
	<string>canInflateCache</string>
	<key>discardedCertificate</key>
	<string>numericalchecklist</string>
	<key>explicitTraversal</key>
	<string>uniqueConstraint</string>
	<key>geometricAnalyzer</key>
	<string>concatenateIntensity</string>
	<key>hierarchicalChannel</key>
	<string>behaviorcolor</string>
	<key>onbaselinetap</key>
	<string>deployTimer</string>
	<key>shouldObserveBehavior</key>
	<string>stateCommand</string>
</dict>
</plist>
