<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binarySaturation</key>
	<string>schedulerOrigin</string>
	<key>concreteChooser</key>
	<string>mediocreBatch</string>
	<key>difficultJoiner</key>
	<string>animateAction</string>
	<key>intermediateSubpixel</key>
	<string>giftMemento</string>
	<key>shouldPauseCosine</key>
	<string>eagerRemainder</string>
	<key>shouldRebuildAlpha</key>
	<string>greatGem</string>
	<key>shouldupdateconsumer</key>
	<string>parallelGrain</string>
	<key>subpixelDirection</key>
	<string>granularObserver</string>
</dict>
</plist>
