<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleTitle</key>
	<string>flexibleFragment</string>
	<key>ephemeralSprite</key>
	<string>animationOrientation</string>
	<key>listviewfacadehue</key>
	<string>amortizationOpacity</string>
	<key>protectedcanvasname</key>
	<string>geometricController</string>
	<key>queuePressure</key>
	<string>gradientValue</string>
	<key>sequentialBehavior</key>
	<string>shouldUnbindDrawer</string>
	<key>staticGem</key>
	<string>shouldMountAspectRatio</string>
</dict>
</plist>
