<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveScene</key>
	<string>cubitaroundplatform</string>
	<key>binarystyle</key>
	<string>usedTextField</string>
	<key>callbackobject</key>
	<string>ternaryFacade</string>
	<key>directContrast</key>
	<string>oninterpolationchanged</string>
	<key>imperativeChapter</key>
	<string>originalchannels</string>
	<key>resourceTint</key>
	<string>crudegridtop</string>
	<key>semanticvertex</key>
	<string>cupertinocontextmode</string>
	<key>similarResponder</key>
	<string>asyncMediator</string>
	<key>sizeScale</key>
	<string>resilientLayout</string>
	<key>statefulvisibility</key>
	<string>finderalignment</string>
</dict>
</plist>
