<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoreducer</key>
	<string>canPaintObserver</string>
	<key>futureleft</key>
	<string>secondLoss</string>
	<key>materialstagecolor</key>
	<string>rapidMember</string>
	<key>shouldRebuildExtension</key>
	<string>canInflateEntropy</string>
	<key>uniqueProvider</key>
	<string>occasionFormat</string>
</dict>
</plist>
