<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocright</key>
	<string>impactBehavior</string>
	<key>displayableConstant</key>
	<string>configureRouter</string>
	<key>selectedbatch</key>
	<string>observeranalogy</string>
	<key>sessionshape</key>
	<string>connectContraction</string>
	<key>shoulddisposecoordinator</key>
	<string>flextierlocation</string>
</dict>
</plist>
