<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directStamp</key>
	<string>resumetext</string>
	<key>euclideanInstruction</key>
	<string>directInteraction</string>
	<key>inactiveoffsettheme</key>
	<string>pinchableDetector</string>
	<key>keyhandler</key>
	<string>receiverShade</string>
	<key>mediumInstruction</key>
	<string>extensionduringparam</string>
	<key>notifytimer</key>
	<string>resourceTransparency</string>
	<key>repositorykind</key>
	<string>stampFeedback</string>
	<key>shouldCancelGift</key>
	<string>layoutoutsideenvironment</string>
	<key>shouldYieldSubpixel</key>
	<string>parseRoute</string>
	<key>storyboardbuffer</key>
	<string>cartesianConstant</string>
</dict>
</plist>
