<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activehistogramduration</key>
	<string>controllerhandler</string>
	<key>brushparticle</key>
	<string>permissivetopicstate</string>
	<key>coordinatorprocessvisible</key>
	<string>overlayactionsaturation</string>
	<key>deferredPolygon</key>
	<string>attachcache</string>
	<key>lastImpact</key>
	<string>heappatternbound</string>
	<key>limitscaffold</key>
	<string>symmetricStorage</string>
	<key>observeanimatedcontainer</key>
	<string>canPersistCoordinator</string>
	<key>scalesize</key>
	<string>immutableBloc</string>
	<key>sophisticatedmodel</key>
	<string>inkwellfilter</string>
	<key>synchronousNavigation</key>
	<string>constantPosition</string>
</dict>
</plist>
