<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartalignment</key>
	<string>spinChannel</string>
	<key>ephemeralAccessory</key>
	<string>transformerFacade</string>
	<key>expandedandaction</key>
	<string>canReplaceCoordinator</string>
	<key>newestRenderer</key>
	<string>convolutionFramework</string>
</dict>
</plist>
