<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionTransformer</key>
	<string>functionalChapter</string>
	<key>activeFragments</key>
	<string>switchLocation</string>
	<key>customModel</key>
	<string>marginInteraction</string>
	<key>eventForce</key>
	<string>shouldPublishGrayscale</string>
	<key>futurevelocity</key>
	<string>concreteDrawer</string>
	<key>lazySkin</key>
	<string>metadataBorder</string>
	<key>relationalConstraint</key>
	<string>shapeOffset</string>
	<key>secondhash</key>
	<string>cachemetadata</string>
	<key>shouldconnecttransition</key>
	<string>mediumDropdownButton</string>
	<key>significantLog</key>
	<string>rolefunctionorientation</string>
</dict>
</plist>
