<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diversifiedcoordinatoropacity</key>
	<string>opaqueText</string>
	<key>interactionmargin</key>
	<string>symboljobtype</string>
	<key>interceptrow</key>
	<string>inactiveInstruction</string>
	<key>matrixShade</key>
	<string>statelessLogarithm</string>
	<key>navigatorsingletonleft</key>
	<string>tabbarLayer</string>
	<key>observerStyle</key>
	<string>smartmodal</string>
	<key>polygonCoord</key>
	<string>multiOperation</string>
	<key>shouldnavigatepositioned</key>
	<string>granularActivity</string>
	<key>standaloneImpact</key>
	<string>signorwork</string>
</dict>
</plist>
