<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventhead</key>
	<string>shouldTransformDescriptor</string>
	<key>formatsubscription</key>
	<string>richtextactivitytail</string>
	<key>immutableMatrix</key>
	<string>elasticitydepth</string>
	<key>pinchableQuaternion</key>
	<string>evaluateNode</string>
</dict>
</plist>
