<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonPosition</key>
	<string>callbackAcceleration</string>
	<key>compositionalCombiner</key>
	<string>tolerancerate</string>
	<key>managercount</key>
	<string>partitionAlignment</string>
</dict>
</plist>
