<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aperturepainter</key>
	<string>signInterpreter</string>
	<key>diversifieddrawer</key>
	<string>observeArithmetic</string>
	<key>newestBloc</key>
	<string>canLoadVariant</string>
	<key>optimizerPosition</key>
	<string>checklistVisible</string>
	<key>resumeindicator</key>
	<string>scrollableTentative</string>
	<key>typicalAnalogy</key>
	<string>standaloneBinary</string>
</dict>
</plist>
