<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedError</key>
	<string>animationandproxy</string>
	<key>dropdownbuttonKind</key>
	<string>rebuildAspect</string>
	<key>exittimer</key>
	<string>allocatorstylesize</string>
	<key>independentAwait</key>
	<string>stopBinary</string>
	<key>largeSkin</key>
	<string>oldDistinction</string>
	<key>layoutvisitorleft</key>
	<string>nextScope</string>
	<key>resizableImpression</key>
	<string>movementProxy</string>
	<key>rowscopetension</key>
	<string>mergerStatus</string>
	<key>seamlessImpact</key>
	<string>shapeDistance</string>
	<key>typicalintegration</key>
	<string>playbacksensor</string>
</dict>
</plist>
