<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customConnector</key>
	<string>comprehensiveShape</string>
	<key>deliveryKind</key>
	<string>grainProxy</string>
	<key>deserializedelegate</key>
	<string>functionalMultiplication</string>
	<key>disposepopup</key>
	<string>tappableClipper</string>
	<key>transformobserver</key>
	<string>descriptionColor</string>
</dict>
</plist>
