<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationDuration</key>
	<string>onnormchanged</string>
	<key>labelforproxy</key>
	<string>deflateState</string>
	<key>resilientBoxShadow</key>
	<string>positionduringtemple</string>
	<key>shouldShowUsage</key>
	<string>canFinishFragment</string>
</dict>
</plist>
