<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousChooser</key>
	<string>shouldAnimateMission</string>
	<key>exceptionstrength</key>
	<string>delicateAppBar</string>
	<key>fragmentstag</key>
	<string>symmetricLoop</string>
	<key>hyperbolicPromise</key>
	<string>imperativeVertex</string>
	<key>performservice</key>
	<string>symbolAlignment</string>
	<key>sessionprovision</key>
	<string>intuitiveTouch</string>
	<key>shouldLayoutTabView</key>
	<string>localizationdelay</string>
	<key>sorterPressure</key>
	<string>geometricAudio</string>
	<key>subsequenttabview</key>
	<string>attachTransformer</string>
</dict>
</plist>
