<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedMaterializer</key>
	<string>notifyGesture</string>
	<key>animatedcontainertension</key>
	<string>hierarchicalSegment</string>
	<key>componentTint</key>
	<string>animationMargin</string>
	<key>constantOffset</key>
	<string>shouldEndLoss</string>
	<key>hardrect</key>
	<string>remainderTransparency</string>
	<key>replicaVelocity</key>
	<string>groupduration</string>
	<key>videoVisible</key>
	<string>graphValue</string>
</dict>
</plist>
