<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decodebuilder</key>
	<string>fragmentscontrast</string>
	<key>functionalTangent</key>
	<string>composablearchitecture</string>
	<key>ignoredEntropy</key>
	<string>agileConfidentiality</string>
	<key>iscaption</key>
	<string>shouldEndStack</string>
	<key>visibleintegercontrast</key>
	<string>staticstreamalignment</string>
</dict>
</plist>
