<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionType</key>
	<string>shouldSkipPageView</string>
	<key>difficultthreshold</key>
	<string>finishthread</string>
	<key>requiredPublisher</key>
	<string>resizableRenderer</string>
	<key>robustCoordinator</key>
	<string>subtleExponent</string>
	<key>shouldSkipStoryboard</key>
	<string>paralleltangentvisible</string>
</dict>
</plist>
