<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardSubpixel</key>
	<string>isStoryboard</string>
	<key>creatorSkewY</key>
	<string>sustainabletextfieldbehavior</string>
	<key>symmetricPicker</key>
	<string>accessibleImpression</string>
	<key>yieldduration</key>
	<string>unsortedObject</string>
</dict>
</plist>
