<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeBuilder</key>
	<string>disparatescaffoldtint</string>
	<key>dispatcherAlignment</key>
	<string>retrieveConfiguration</string>
	<key>featurevaluetag</key>
	<string>canDecodeReduction</string>
	<key>flexInteraction</key>
	<string>reusableAnalogy</string>
	<key>navigatorsystemresponse</key>
	<string>instantiateBuilder</string>
	<key>segmentevent</key>
	<string>particletypeshade</string>
	<key>shouldEmitGridView</key>
	<string>shouldSerializeExpanded</string>
	<key>stopsink</key>
	<string>awaitAppearance</string>
	<key>tentativepressure</key>
	<string>currentCanvas</string>
</dict>
</plist>
