<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacityInterval</key>
	<string>crudePadding</string>
	<key>constraintOffset</key>
	<string>priorityPlatform</string>
	<key>greatConstant</key>
	<string>canPrepareFragment</string>
	<key>lossorwork</key>
	<string>shouldPushSkirt</string>
	<key>shouldEndChallenge</key>
	<string>componentTension</string>
	<key>smallPadding</key>
	<string>seekDuration</string>
	<key>statefuloffsethead</key>
	<string>analyzeAllocator</string>
</dict>
</plist>
