<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicCache</key>
	<string>filterspacing</string>
	<key>channelsColor</key>
	<string>listenerActivity</string>
	<key>curveconstraint</key>
	<string>beginnerMultiplication</string>
	<key>intuitiveTitle</key>
	<string>disabledRow</string>
	<key>primarydelegate</key>
	<string>canPushModulus</string>
	<key>shouldProcessTernary</key>
	<string>shouldSaveRoute</string>
	<key>shouldUnmountedProvider</key>
	<string>featureobject</string>
	<key>singleBuilder</key>
	<string>canvasLevel</string>
	<key>textfieldPadding</key>
	<string>canPresentActivity</string>
</dict>
</plist>
