<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>featureintegration</key>
	<string>geometricPresenter</string>
	<key>fillgesturedetector</key>
	<string>challengeobserverresponse</string>
	<key>responsiveTabBar</key>
	<string>shouldDispatchStream</string>
	<key>shouldPaintBitrate</key>
	<string>startBinary</string>
	<key>shouldkeeppainter</key>
	<string>canTransitionCapsule</string>
	<key>smarttransformervalidation</key>
	<string>autoEffect</string>
	<key>statelessUsage</key>
	<string>heropressure</string>
	<key>subscriptionvariableflags</key>
	<string>shouldSubscribeMap</string>
	<key>toolDelay</key>
	<string>newestScope</string>
	<key>widgetgroup</key>
	<string>attachDrawer</string>
</dict>
</plist>
