<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousTweak</key>
	<string>touchRect</string>
	<key>canceltitle</key>
	<string>createNode</string>
	<key>fusedoccasion</key>
	<string>shouldEncodeImage</string>
	<key>inheritedStateful</key>
	<string>crudeRouter</string>
	<key>permissiveTernary</key>
	<string>reactiveNode</string>
	<key>shouldpopworkflow</key>
	<string>requestFrequency</string>
	<key>soundDelay</key>
	<string>performrichtext</string>
</dict>
</plist>
