<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacityinset</key>
	<string>subtleMechanism</string>
	<key>intuitiveClipper</key>
	<string>canPopInteger</string>
	<key>stackTail</key>
	<string>pointValidation</string>
</dict>
</plist>
