<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customGrid</key>
	<string>playTexture</string>
	<key>shouldFetchChannels</key>
	<string>diffableDispatcher</string>
	<key>storyboardShade</key>
	<string>unlockQueue</string>
</dict>
</plist>
