<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureSize</key>
	<string>methodTag</string>
	<key>rapidresourceborder</key>
	<string>materialOffset</string>
	<key>relationalDrawer</key>
	<string>futuresize</string>
	<key>shouldPushMonster</key>
	<string>paintScale</string>
	<key>spriteatactivity</key>
	<string>canReplaceRoute</string>
	<key>textfieldStatus</key>
	<string>animatorAppearance</string>
</dict>
</plist>
