<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>protocolduringtype</key>
	<string>builderState</string>
	<key>shouldParseSlash</key>
	<string>resourceStatus</string>
	<key>smartcolumn</key>
	<string>canRestartComposition</string>
	<key>subtleCapacity</key>
	<string>reductionEnvironment</string>
	<key>viewbehavior</key>
	<string>canObserveCapacities</string>
</dict>
</plist>
