<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dispatcherhead</key>
	<string>autoSubscriber</string>
	<key>processimage</key>
	<string>streamValue</string>
	<key>providerHue</key>
	<string>pendingSkin</string>
	<key>shouldUnbindNotifier</key>
	<string>inflateTechnique</string>
	<key>slidercoord</key>
	<string>pageviewEdge</string>
</dict>
</plist>
