<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphafeedback</key>
	<string>significantImage</string>
	<key>criticalMaster</key>
	<string>maxMargin</string>
	<key>sceneVisible</key>
	<string>fusedPageView</string>
	<key>seamlessResource</key>
	<string>canShowMap</string>
	<key>sliderdistance</key>
	<string>storeValue</string>
	<key>swiftTransparency</key>
	<string>shouldParseImage</string>
</dict>
</plist>
