<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectdispatcher</key>
	<string>shouldObserveObserver</string>
	<key>disabledCurve</key>
	<string>permissiveConfidentiality</string>
	<key>persistentmissionindex</key>
	<string>buttonevolution</string>
	<key>regulateasync</key>
	<string>customDuration</string>
	<key>shouldCacheTabBar</key>
	<string>alignmentthanvisitor</string>
	<key>significantEqualization</key>
	<string>isolateShape</string>
	<key>soundDistance</key>
	<string>streamVisibility</string>
	<key>statefulinkwell</key>
	<string>canStopNavigation</string>
</dict>
</plist>
