<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarOffset</key>
	<string>canRouteAccessory</string>
	<key>boxshadowmodel</key>
	<string>ignoredAnimatedContainer</string>
	<key>customizedpageview</key>
	<string>onremainderchanged</string>
	<key>differentiategram</key>
	<string>shouldSubscribeCube</string>
	<key>semanticDescription</key>
	<string>schemaDirection</string>
</dict>
</plist>
