<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatorTransparency</key>
	<string>canListenMission</string>
	<key>comprehensiveDistinction</key>
	<string>disabledSpot</string>
	<key>computeconfiguration</key>
	<string>curveBorder</string>
	<key>usedElement</key>
	<string>granularSubscriber</string>
</dict>
</plist>
