<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>connectprogressbar</key>
	<string>reusableAsync</string>
	<key>cupertinolayercolor</key>
	<string>canUpdateNorm</string>
	<key>selectedcoordinator</key>
	<string>upgradeLayer</string>
	<key>sustainableParticle</key>
	<string>autoBox</string>
</dict>
</plist>
