<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fusedComponent</key>
	<string>mediumGrayscale</string>
	<key>lostSubscriber</key>
	<string>canListenTabView</string>
	<key>mediocreDescriptor</key>
	<string>geometricMember</string>
	<key>mediumcardborder</key>
	<string>vectorVariable</string>
	<key>observerasscope</key>
	<string>numericalInfo</string>
	<key>pageviewOffset</key>
	<string>cacheInteraction</string>
	<key>polyfillDelay</key>
	<string>greatMechanism</string>
	<key>shouldFinishEntropy</key>
	<string>serviceNumber</string>
	<key>stopprovider</key>
	<string>grainFeedback</string>
</dict>
</plist>
