<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesorientation</key>
	<string>animationalignment</string>
	<key>composableSignature</key>
	<string>unaryInterval</string>
	<key>significantLocalization</key>
	<string>flexibleConfidentiality</string>
	<key>subscriptionBottom</key>
	<string>meshDensity</string>
	<key>toolnotation</key>
	<string>tentativeSkewY</string>
</dict>
</plist>
