<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionoutsidescope</key>
	<string>canFinishBuilder</string>
	<key>rapidIntegration</key>
	<string>taskaroundlayer</string>
	<key>resilientComposition</key>
	<string>routepager</string>
	<key>responseformat</key>
	<string>defaultcursor</string>
	<key>subtleTernary</key>
	<string>globalRoute</string>
	<key>temporaryScale</key>
	<string>shouldDecodeMaster</string>
	<key>uniqueExpanded</key>
	<string>introspectLoop</string>
	<key>visibleUtil</key>
	<string>prioritySpeed</string>
</dict>
</plist>
