<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveSlider</key>
	<string>listenerVariable</string>
	<key>chapterbeyondparam</key>
	<string>variantTemple</string>
	<key>customResilience</key>
	<string>diffableobject</string>
	<key>dedicatedData</key>
	<string>usecaseCommand</string>
</dict>
</plist>
