<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentGradient</key>
	<string>shapeInterval</string>
	<key>desktopSizedBox</key>
	<string>canDisconnectScaffold</string>
	<key>loopCoord</key>
	<string>quantizerScene</string>
	<key>oncapacitieschanged</key>
	<string>matrixBrightness</string>
	<key>prismaticScale</key>
	<string>histogramTag</string>
	<key>techniqueDelay</key>
	<string>cartesianModulus</string>
	<key>usedState</key>
	<string>mediumSplitter</string>
</dict>
</plist>
