<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directusage</key>
	<string>canRouteDelegate</string>
	<key>dispatchcollection</key>
	<string>compareScene</string>
	<key>handleresource</key>
	<string>newestVideo</string>
	<key>providervaluealignment</key>
	<string>resizeSlider</string>
	<key>typicalConstant</key>
	<string>unbindCupertino</string>
</dict>
</plist>
