<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlySizedBox</key>
	<string>markQueue</string>
	<key>formatinterval</key>
	<string>storyboardbuilder</string>
	<key>infrastructureLeft</key>
	<string>upgradeFeature</string>
	<key>shouldEndInkWell</key>
	<string>canEmitComposition</string>
	<key>shouldRebuildGram</key>
	<string>exponentshapeinset</string>
	<key>shouldReplaceSlash</key>
	<string>yieldDrawer</string>
	<key>sortedTransformer</key>
	<string>semanticAperture</string>
	<key>standaloneScene</key>
	<string>permanentAnalogy</string>
	<key>tabviewequivalent</key>
	<string>staticPriority</string>
</dict>
</plist>
