<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocRight</key>
	<string>semanticsFrequency</string>
	<key>comprehensiveAlert</key>
	<string>displayableBehavior</string>
	<key>elasticnavigator</key>
	<string>shoulddisconnectmomentum</string>
	<key>fillcontainer</key>
	<string>shouldMountMember</string>
	<key>finishcertificate</key>
	<string>marshalNode</string>
	<key>globalKernel</key>
	<string>interactiveView</string>
	<key>intermediateImpression</key>
	<string>aggregateParticle</string>
	<key>viewmediatorfeedback</key>
	<string>crudeTabBar</string>
</dict>
</plist>
