<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveBehavior</key>
	<string>shouldTransitionMomentum</string>
	<key>hyperbolicKernel</key>
	<string>canPublishCapacities</string>
	<key>sequentialChooser</key>
	<string>firstAlert</string>
	<key>splitterStatus</key>
	<string>semanticSegue</string>
</dict>
</plist>
