<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensivePadding</key>
	<string>bundlegrain</string>
	<key>equivalentSpacing</key>
	<string>cloneNavigator</string>
	<key>euclideanspecifiercount</key>
	<string>emitResponse</string>
	<key>mediumTicker</key>
	<string>interactiveSizedBox</string>
	<key>offsetvaluecenter</key>
	<string>arithmeticMap</string>
	<key>pointCount</key>
	<string>shouldUnmountedBuilder</string>
	<key>publicTweak</key>
	<string>workflowMethod</string>
	<key>shouldfinishrichtext</key>
	<string>ephemeralExpanded</string>
	<key>sortedInteractor</key>
	<string>canPauseGate</string>
	<key>stateInterval</key>
	<string>animationfrequency</string>
</dict>
</plist>
