<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardPainter</key>
	<string>serializeAction</string>
	<key>cupertinosceneacceleration</key>
	<string>navigatesample</string>
	<key>diffableThreshold</key>
	<string>protocolStructure</string>
	<key>effectDistance</key>
	<string>progressbarPosition</string>
	<key>granularAxis</key>
	<string>queueDirection</string>
	<key>interactiveinfo</key>
	<string>equalizationStyle</string>
	<key>numericalMerger</key>
	<string>typicalWorkflow</string>
	<key>responsiveAspect</key>
	<string>disabledTabBar</string>
	<key>shouldReplaceKernel</key>
	<string>canStreamTool</string>
	<key>unactivatedWorkflow</key>
	<string>canTransitionMatrix</string>
</dict>
</plist>
