<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeDelivery</key>
	<string>hyperbolicCaption</string>
	<key>framePressure</key>
	<string>wrapperPosition</string>
	<key>imperativeDrawer</key>
	<string>canDecodeCustomPaint</string>
	<key>iterativeResponse</key>
	<string>tappableNavigation</string>
	<key>pagerVisibility</key>
	<string>persistProtocol</string>
	<key>significantMultiplication</key>
	<string>unmarshalFactory</string>
	<key>sortedGift</key>
	<string>factoryobserversize</string>
	<key>sortedmesh</key>
	<string>primaryLocalization</string>
	<key>storeshaperate</key>
	<string>servicethanphase</string>
</dict>
</plist>
