<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorbottom</key>
	<string>polyfillpressure</string>
	<key>delicatedelegate</key>
	<string>columnVisitor</string>
	<key>inheritedMaterial</key>
	<string>timerBottom</string>
	<key>mediumStatus</key>
	<string>keepCursor</string>
	<key>missedCheckbox</key>
	<string>hardSample</string>
	<key>routerfragments</key>
	<string>greatDescent</string>
	<key>tappableBox</key>
	<string>enabledProtocol</string>
	<key>unactivatedGradient</key>
	<string>parsecharacter</string>
	<key>workflowSize</key>
	<string>sequentialResponse</string>
</dict>
</plist>
