<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disparateOperation</key>
	<string>repositoryPosition</string>
	<key>materialFormat</key>
	<string>architectureTag</string>
	<key>materializerspeed</key>
	<string>globalSubscriber</string>
	<key>numericalSorter</key>
	<string>sessionCount</string>
	<key>onpromisechanged</key>
	<string>unsortedAmortization</string>
	<key>onskinchanged</key>
	<string>asynchronousRemainder</string>
	<key>respectiveColumn</key>
	<string>deserializeMedia</string>
	<key>staticChapter</key>
	<string>saveStamp</string>
</dict>
</plist>
