<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectiondecoratortag</key>
	<string>escalateException</string>
	<key>debugisolate</key>
	<string>parseCapsule</string>
	<key>localAppBar</key>
	<string>staticcoordinatorstatus</string>
	<key>nodeBound</key>
	<string>customexpanded</string>
	<key>onprotocolchanged</key>
	<string>trainCell</string>
	<key>publicReducer</key>
	<string>skinpresenter</string>
	<key>resizedialogs</key>
	<string>normalDescriptor</string>
	<key>scaffoldMargin</key>
	<string>immediateAlignment</string>
	<key>shouldConnectOption</key>
	<string>completedShader</string>
	<key>stampFlags</key>
	<string>canObserveGraphic</string>
</dict>
</plist>
