<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinotextfieldinteraction</key>
	<string>routeType</string>
	<key>disparatetime</key>
	<string>revisitLocalization</string>
	<key>granularSkin</key>
	<string>serviceagainstvalue</string>
	<key>materialRepository</key>
	<string>selectedIcon</string>
	<key>shouldDisposeInteger</key>
	<string>animateContraction</string>
	<key>zoneIndex</key>
	<string>localCharacteristic</string>
</dict>
</plist>
