<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerSkirt</key>
	<string>releaseException</string>
	<key>globalScroll</key>
	<string>rapidCompleter</string>
	<key>materialMaterializer</key>
	<string>seamlessTimeline</string>
	<key>missedSearcher</key>
	<string>linkerMode</string>
	<key>mobileConfidentiality</key>
	<string>subscribeInteger</string>
	<key>normcharacteristic</key>
	<string>comprehensiveInfo</string>
	<key>sophisticatedTimer</key>
	<string>geometricAnalyzer</string>
	<key>temporaryWidget</key>
	<string>canPopDocument</string>
</dict>
</plist>
