<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerlistener</key>
	<string>materializerdensity</string>
	<key>detectorappearance</key>
	<string>mediumPolygon</string>
	<key>injectionShade</key>
	<string>currentCubit</string>
	<key>interactionTheme</key>
	<string>canYieldFuture</string>
	<key>mechanismAcceleration</key>
	<string>canUnmountDimension</string>
	<key>prioritymomentum</key>
	<string>imperativeRow</string>
	<key>resilientSegue</key>
	<string>previewKind</string>
	<key>robustVector</key>
	<string>disconnectTopic</string>
	<key>shouldDismissProject</key>
	<string>mediumTween</string>
	<key>subsequentStorage</key>
	<string>comprehensiveTolerance</string>
</dict>
</plist>
