<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customClipper</key>
	<string>canPresentCapacities</string>
	<key>diffableAperture</key>
	<string>providerfinder</string>
	<key>eagerSemantics</key>
	<string>smallFeature</string>
	<key>roleCoord</key>
	<string>mediocreIsolate</string>
</dict>
</plist>
