<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inactiveAsset</key>
	<string>capacitiesMemento</string>
	<key>positionedTop</key>
	<string>shouldBindDocument</string>
	<key>respectivePager</key>
	<string>masterChain</string>
	<key>robustReduction</key>
	<string>consultativeMetrics</string>
	<key>schemaFeedback</key>
	<string>typicalanimationdirection</string>
	<key>shouldPushInkWell</key>
	<string>tickerHue</string>
	<key>shouldSaveColumn</key>
	<string>mitigateLayout</string>
</dict>
</plist>
