<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesiantangent</key>
	<string>shouldskiproute</string>
	<key>difficultFactory</key>
	<string>resilientBrush</string>
	<key>losttexttype</key>
	<string>vectorizeFeature</string>
	<key>mobileresolverfrequency</key>
	<string>referencePlatform</string>
	<key>secondPublisher</key>
	<string>accordionElasticity</string>
	<key>shouldResumeClipper</key>
	<string>synchronousActivity</string>
	<key>shouldUnbindNorm</key>
	<string>difficultRouter</string>
	<key>shouldshowgrayscale</key>
	<string>sophisticatedCanvas</string>
</dict>
</plist>
