<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerCupertino</key>
	<string>concatenateView</string>
	<key>interpolationevent</key>
	<string>descentstatus</string>
	<key>mutableTweak</key>
	<string>eventelasticity</string>
</dict>
</plist>
