<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorrow</key>
	<string>agileReplica</string>
	<key>crucialGroup</key>
	<string>shouldReplaceUsage</string>
	<key>customizedPainter</key>
	<string>hashmediatorvelocity</string>
	<key>deferredStroke</key>
	<string>standalonemediainterval</string>
	<key>flexbridgerate</key>
	<string>movementPhase</string>
	<key>mutableaspectratio</key>
	<string>profileMetadata</string>
	<key>priornotifier</key>
	<string>alignmentinsidevar</string>
	<key>recursionLocation</key>
	<string>confidentialitycontrast</string>
</dict>
</plist>
