<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationSpacing</key>
	<string>functionalStep</string>
	<key>losttaskskewy</key>
	<string>hierarchicalReliability</string>
	<key>nextdispatcher</key>
	<string>logPrototype</string>
</dict>
</plist>
