<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeListener</key>
	<string>disposeAnimation</string>
	<key>fragmentName</key>
	<string>accessibleTernary</string>
	<key>latencyscale</key>
	<string>gateDelay</string>
	<key>menuPosition</key>
	<string>shouldtraintangent</string>
	<key>requiredRequest</key>
	<string>heroTransparency</string>
</dict>
</plist>
