<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatecubit</key>
	<string>sortedcontrollersaturation</string>
	<key>animatedStorage</key>
	<string>requestForm</string>
	<key>builderdistance</key>
	<string>canListenConsumer</string>
	<key>dedicatedExpanded</key>
	<string>lostProtocol</string>
	<key>hierarchicalRow</key>
	<string>permissiveRemainder</string>
	<key>skinmethodmode</key>
	<string>saveSizedBox</string>
	<key>smallPlate</key>
	<string>referenceSystem</string>
	<key>timeOpacity</key>
	<string>concreteRepository</string>
</dict>
</plist>
