<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioformat</key>
	<string>shouldNavigateDrawer</string>
	<key>basicNode</key>
	<string>nextoverlaydensity</string>
	<key>comprehensivePolygon</key>
	<string>resolveNode</string>
	<key>comprehensiveSubscriber</key>
	<string>subscriberBorder</string>
	<key>directroute</key>
	<string>formatMultiplication</string>
	<key>ephemeralMechanism</key>
	<string>canUnmountedCosine</string>
	<key>graphKind</key>
	<string>functionalProvider</string>
	<key>shouldUnmountRoute</key>
	<string>positionagainstobserver</string>
	<key>typicalBuffer</key>
	<string>streammediatoracceleration</string>
</dict>
</plist>
