<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkallocator</key>
	<string>accessiblelog</string>
	<key>completerthanjob</key>
	<string>serviceInterval</string>
	<key>concurrentTitle</key>
	<string>composableProfile</string>
	<key>consumerState</key>
	<string>mobileSlash</string>
	<key>hyperbolicRange</key>
	<string>delicateRecursion</string>
	<key>normDistance</key>
	<string>specifierInset</string>
	<key>onradiotap</key>
	<string>buildPositioned</string>
	<key>reusableutil</key>
	<string>nextElasticity</string>
	<key>sustainableTrigger</key>
	<string>shouldSkipSymbol</string>
</dict>
</plist>
