<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completiontint</key>
	<string>visitResult</string>
	<key>configurationvisible</key>
	<string>deserializeExponent</string>
	<key>constraintPressure</key>
	<string>spriteobserveroffset</string>
	<key>geometricviewresponse</key>
	<string>zoneDirection</string>
	<key>gestureSkewY</key>
	<string>delicateProject</string>
	<key>interactiveGem</key>
	<string>projectionOffset</string>
	<key>largeEfficiency</key>
	<string>eventComposite</string>
	<key>missedBullet</key>
	<string>nextSwitch</string>
	<key>shouldRestartTransition</key>
	<string>associatedGestureDetector</string>
	<key>smartconverter</key>
	<string>reduceObserver</string>
</dict>
</plist>
