<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonAnalogy</key>
	<string>largeTransition</string>
	<key>consultativeData</key>
	<string>assetFeedback</string>
	<key>eventconstant</key>
	<string>wrapperBorder</string>
	<key>lazyScheduler</key>
	<string>standaloneBinary</string>
	<key>positionededge</key>
	<string>animateExpanded</string>
	<key>stampIndex</key>
	<string>decorationInterpreter</string>
	<key>tensorSlash</key>
	<string>shouldstreampromise</string>
	<key>topiclocation</key>
	<string>webTweak</string>
	<key>tweakcoord</key>
	<string>canEndDropdownButton</string>
</dict>
</plist>
