<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mediocreEffect</key>
	<string>channelshape</string>
	<key>resizableRouter</key>
	<string>intermediateArithmetic</string>
	<key>shouldAttachGrayscale</key>
	<string>setupAsync</string>
	<key>symmetricContraction</key>
	<string>shouldtransitionbox</string>
	<key>workflowformsize</key>
	<string>shouldStopAxis</string>
</dict>
</plist>
