<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerAppBar</key>
	<string>shouldCreateObserver</string>
	<key>exceptionRate</key>
	<string>gesturedetectorexceptshape</string>
	<key>nextCharacteristic</key>
	<string>nibFramework</string>
	<key>opaqueGroup</key>
	<string>fetchSymbol</string>
	<key>storagenumbertop</key>
	<string>granularAnimator</string>
</dict>
</plist>
