<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonArithmetic</key>
	<string>shouldRebuildGate</string>
	<key>dispatcherTransparency</key>
	<string>unsortedResolver</string>
	<key>obtainobserver</key>
	<string>descriptorskewy</string>
	<key>paddingSkewY</key>
	<string>canListenSpecifier</string>
	<key>promiseCount</key>
	<string>specifyhashinset</string>
	<key>rapidVideo</key>
	<string>canSerializeContraction</string>
	<key>relationalTable</key>
	<string>quitText</string>
	<key>subsequentSession</key>
	<string>discardedNotifier</string>
	<key>symmetricAnalyzer</key>
	<string>requestFeature</string>
	<key>titlekind</key>
	<string>scalespacing</string>
</dict>
</plist>
