<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colorPressure</key>
	<string>dataAcceleration</string>
	<key>sharedWrapper</key>
	<string>nextPriority</string>
	<key>shouldSetStateSpot</key>
	<string>touchVector</string>
</dict>
</plist>
