<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>immutableTimeline</key>
	<string>syncTimer</string>
	<key>permissiveSchema</key>
	<string>routeCheckbox</string>
	<key>sampleDensity</key>
	<string>transposeallocator</string>
</dict>
</plist>
