<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioAppearance</key>
	<string>shouldEncodeNotification</string>
	<key>directlyConvolution</key>
	<string>optimizeHash</string>
	<key>intensityState</key>
	<string>particleSpacing</string>
	<key>lastroute</key>
	<string>mountIcon</string>
	<key>mainTicker</key>
	<string>challengeDelay</string>
	<key>prismaticbitrate</key>
	<string>maxActivity</string>
	<key>rapidSpot</key>
	<string>textfieldInterval</string>
	<key>shouldCacheFragment</key>
	<string>shouldTrainAlpha</string>
	<key>streamcluster</key>
	<string>agileDecoration</string>
	<key>swifthead</key>
	<string>euclideansessionpressure</string>
</dict>
</plist>
