<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedTimer</key>
	<string>desktopBatch</string>
	<key>cardemitter</key>
	<string>numericalPermutation</string>
	<key>cleanworkflow</key>
	<string>mainGraph</string>
	<key>commonTimeline</key>
	<string>resizeIsolate</string>
	<key>consumerrotation</key>
	<string>canTransitionCatalyst</string>
	<key>difficultLayer</key>
	<string>spriteBridge</string>
	<key>shouldDisposeTechnique</key>
	<string>coordinatorDistance</string>
	<key>shouldSetStateGradient</key>
	<string>agileGroup</string>
	<key>statelessFrequency</key>
	<string>logarithmInset</string>
	<key>tabbarinsidekind</key>
	<string>greatRange</string>
</dict>
</plist>
