<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropdownbuttontag</key>
	<string>rebuildPlayback</string>
	<key>inheritedtickeredge</key>
	<string>greatEffect</string>
	<key>modaltint</key>
	<string>compileGroup</string>
	<key>monsterSpacing</key>
	<string>errordelay</string>
	<key>navigationBehavior</key>
	<string>rolePattern</string>
	<key>objectbound</key>
	<string>criticalresolver</string>
	<key>processorVisible</key>
	<string>imperativeListener</string>
	<key>responsiveCollection</key>
	<string>ignoredTask</string>
	<key>shouldStreamProvider</key>
	<string>curveLayer</string>
	<key>stepColor</key>
	<string>renderanimatedcontainer</string>
</dict>
</plist>
