<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerConsumption</key>
	<string>canListenSegue</string>
	<key>interactoratprototype</key>
	<string>heroAdapter</string>
	<key>mapperacceleration</key>
	<string>displayPreview</string>
	<key>priorBullet</key>
	<string>sequentialradiusedge</string>
	<key>semanticData</key>
	<string>concreteRectangle</string>
	<key>shouldpublishsine</key>
	<string>swiftStage</string>
	<key>substantialMediaQuery</key>
	<string>moduluscontrast</string>
</dict>
</plist>
