<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableNotification</key>
	<string>buildSwitch</string>
	<key>concreteTable</key>
	<string>gradientPadding</string>
	<key>diversifiedEffect</key>
	<string>statelessPadding</string>
	<key>geometricPicker</key>
	<string>processLabel</string>
	<key>nativeBase</key>
	<string>sophisticatedParticle</string>
	<key>othertitle</key>
	<string>annotatemenu</string>
	<key>prismaticTouch</key>
	<string>canUnmountedMedia</string>
	<key>segueDensity</key>
	<string>analyzerFlags</string>
	<key>shouldMountedEqualization</key>
	<string>explicitcycle</string>
	<key>shouldPopCaption</key>
	<string>logarithmLayer</string>
</dict>
</plist>
