<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>relationalCaption</key>
	<string>relationalCustomPaint</string>
	<key>rowcontextresponse</key>
	<string>endFuture</string>
	<key>seguebuffer</key>
	<string>criticalSound</string>
	<key>viewStatus</key>
	<string>reducerTheme</string>
</dict>
</plist>
