<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryMode</key>
	<string>queueScale</string>
	<key>checkboxSkewX</key>
	<string>priorDelegate</string>
	<key>geometricCapacities</key>
	<string>shouldEmitPoint</string>
	<key>mediumCoordinator</key>
	<string>overlayState</string>
	<key>projectacceleration</key>
	<string>subscriptionDepth</string>
	<key>significantMedia</key>
	<string>semanticConsumer</string>
	<key>storyboardshape</key>
	<string>seamlesscaption</string>
	<key>subtleArchitecture</key>
	<string>evaluateResponse</string>
</dict>
</plist>
