<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clusterOrientation</key>
	<string>basicConverter</string>
	<key>crudeGift</key>
	<string>currentspecifier</string>
	<key>declarativeAnalyzer</key>
	<string>disposenode</string>
	<key>permanentBatch</key>
	<string>eventFacade</string>
	<key>persistentSpecifier</key>
	<string>bulletduration</string>
	<key>pivotalAnimator</key>
	<string>minKernel</string>
	<key>radiusformvisible</key>
	<string>priorityAlignment</string>
	<key>reducerframeworkinset</key>
	<string>desktopHero</string>
	<key>shouldCreateSensor</key>
	<string>alertMediator</string>
	<key>shouldUnbindNorm</key>
	<string>positionDelay</string>
</dict>
</plist>
