<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedinfo</key>
	<string>significantSelector</string>
	<key>functionalSubscription</key>
	<string>selectedkernel</string>
	<key>rowalongframework</key>
	<string>liteRectangle</string>
	<key>shouldSubscribeDuration</key>
	<string>observerVisitor</string>
	<key>significantMend</key>
	<string>significantLatency</string>
	<key>tweenBorder</key>
	<string>sharedSizedBox</string>
</dict>
</plist>
