<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyShape</key>
	<string>textBuffer</string>
	<key>firstSingleton</key>
	<string>queuemomentum</string>
	<key>immediateElasticity</key>
	<string>momentumSize</string>
	<key>numericalDistinction</key>
	<string>shouldResumeCube</string>
	<key>pivotalCertificate</key>
	<string>mobileoptimizer</string>
	<key>shouldPopDelegate</key>
	<string>discardedSign</string>
	<key>symmetricScroll</key>
	<string>benchmarkDecoration</string>
</dict>
</plist>
