<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compilegrid</key>
	<string>shouldFormatAlert</string>
	<key>resilientGem</key>
	<string>canStartWorkflow</string>
	<key>tabbarorcomposite</key>
	<string>dedicatedInkWell</string>
	<key>trianglesRate</key>
	<string>semanticIntegration</string>
	<key>uniformgridposition</key>
	<string>resumeCube</string>
</dict>
</plist>
