<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customAlpha</key>
	<string>bundleUseCase</string>
	<key>decorationexceptfunction</key>
	<string>secondeffect</string>
	<key>deferredAnalogy</key>
	<string>flexiblePositioned</string>
	<key>nativeRadius</key>
	<string>coordinatorinterpreterdistance</string>
</dict>
</plist>
