<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonRouter</key>
	<string>moverect</string>
	<key>factoryContrast</key>
	<string>visitContainer</string>
	<key>localizationbytier</key>
	<string>shouldPresentSpot</string>
	<key>mutableIcon</key>
	<string>singlecurve</string>
	<key>resilientsubscriptionvalidation</key>
	<string>activityDirection</string>
	<key>shouldobservespecifier</key>
	<string>oldTabBar</string>
	<key>substantialPermutation</key>
	<string>diversifiedDetail</string>
	<key>taskitem</key>
	<string>canDispatchColumn</string>
</dict>
</plist>
