<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveAlignment</key>
	<string>hierarchicalSlash</string>
	<key>adaptiveTechnique</key>
	<string>customizedGift</string>
	<key>advancedImpression</key>
	<string>primaryTernary</string>
	<key>asyncorvisitor</key>
	<string>mediaSpeed</string>
	<key>iterativetexttail</key>
	<string>inheritedContainer</string>
	<key>shouldPersistAnimation</key>
	<string>makeskirt</string>
	<key>shouldPublishDrawer</key>
	<string>symmetricMend</string>
</dict>
</plist>
