<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerPopup</key>
	<string>sliderTag</string>
	<key>compositionalVolume</key>
	<string>sliderfrequency</string>
	<key>discovercallback</key>
	<string>shouldValidateRole</string>
	<key>gateorigin</key>
	<string>awaitDelay</string>
	<key>handlerCenter</key>
	<string>providerfrequency</string>
	<key>intuitiveSpot</key>
	<string>challengeBridge</string>
	<key>promisestate</key>
	<string>visitTransformer</string>
	<key>shouldDecodeResource</key>
	<string>clearLoop</string>
	<key>shouldProcessContainer</key>
	<string>soundFormat</string>
	<key>standaloneReplica</key>
	<string>bulletTop</string>
</dict>
</plist>
