<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioOrigin</key>
	<string>composableMultiplication</string>
	<key>autoOperation</key>
	<string>canConnectPadding</string>
	<key>comprehensiveNorm</key>
	<string>movementPosition</string>
	<key>criticalBinder</key>
	<string>textureOrientation</string>
	<key>denseWrapper</key>
	<string>originalEntropy</string>
	<key>introspectcoordinator</key>
	<string>geometricsliderbrightness</string>
	<key>pinchableSegue</key>
	<string>keyStateful</string>
	<key>secondCallback</key>
	<string>indicatoracceleration</string>
	<key>signatureDirection</key>
	<string>restoreAsync</string>
</dict>
</plist>
