<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documentSkewY</key>
	<string>blocsubscriber</string>
	<key>parallelMember</key>
	<string>tappablecachevalidation</string>
	<key>prismaticFormat</key>
	<string>unactivatedRectangle</string>
	<key>provisionLocation</key>
	<string>stampForm</string>
	<key>shouldPauseRemainder</key>
	<string>generateCubit</string>
	<key>spriteColor</key>
	<string>canEndSpecifier</string>
</dict>
</plist>
