<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineTransparency</key>
	<string>mendFrequency</string>
	<key>denseEvent</key>
	<string>finderHue</string>
	<key>directStroke</key>
	<string>containerpadding</string>
	<key>fillvector</key>
	<string>blocsincesystem</string>
	<key>localCosine</key>
	<string>priorKernel</string>
	<key>removebuilder</key>
	<string>shouldPersistBuilder</string>
	<key>respectiveCupertino</key>
	<string>metricsTail</string>
</dict>
</plist>
