<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioForce</key>
	<string>seekfeature</string>
	<key>hyperbolicconsumer</key>
	<string>shouldFetchCanvas</string>
	<key>listviewcharacteristic</key>
	<string>emitterSaturation</string>
	<key>sceneversusmediator</key>
	<string>taxonomyType</string>
	<key>seamlessChart</key>
	<string>shouldEndOperation</string>
	<key>utilTransparency</key>
	<string>explicitusecase</string>
</dict>
</plist>
