<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalSkin</key>
	<string>reconcileGrain</string>
	<key>configurationName</key>
	<string>taxonomyDensity</string>
	<key>curvehue</key>
	<string>canListenEqualization</string>
	<key>directremainder</key>
	<string>permissiveScroll</string>
	<key>entitybystrategy</key>
	<string>amortizationMode</string>
	<key>inkwellfrequency</key>
	<string>shouldParseReduction</string>
	<key>lossstream</key>
	<string>uniformAnalyzer</string>
	<key>masterbeyondsingleton</key>
	<string>delegatearoundoperation</string>
	<key>retainedMerger</key>
	<string>temporaryIcon</string>
</dict>
</plist>
