<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>independentgraph</key>
	<string>mutableCupertino</string>
	<key>newestReducer</key>
	<string>otherAmortization</string>
	<key>nextOverlay</key>
	<string>directlybuffer</string>
	<key>pivotalReliability</key>
	<string>mediumPet</string>
	<key>sequentialFormat</key>
	<string>receiveInterface</string>
</dict>
</plist>
