<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedCapacities</key>
	<string>shouldFormatCatalyst</string>
	<key>characterBottom</key>
	<string>sortedOperation</string>
	<key>diversifiedHistogram</key>
	<string>profileLocation</string>
	<key>easyColor</key>
	<string>shouldyieldcell</string>
	<key>menuHead</key>
	<string>easyStatus</string>
	<key>partitionconstraint</key>
	<string>splitterEdge</string>
	<key>shouldDispatchScaffold</key>
	<string>extensionContext</string>
	<key>shouldFinishVariant</key>
	<string>subtleMend</string>
	<key>shouldObservePageView</key>
	<string>shouldShowGradient</string>
	<key>shouldReplaceOptimizer</key>
	<string>materialheap</string>
</dict>
</plist>
