<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euclideanAmortization</key>
	<string>plateInterval</string>
	<key>protectedCharacteristic</key>
	<string>attachLayout</string>
	<key>reusableGrid</key>
	<string>sceneSpeed</string>
	<key>rowascent</key>
	<string>reliabilityInteraction</string>
</dict>
</plist>
