<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionDescription</key>
	<string>managerstrategytension</string>
	<key>activestate</key>
	<string>canSerializeMultiplication</string>
	<key>animatedLayer</key>
	<string>independentAnimation</string>
	<key>commonBoxShadow</key>
	<string>shouldEndPadding</string>
	<key>cycleBrightness</key>
	<string>shaderShade</string>
	<key>elasticCursor</key>
	<string>dropdownbuttonTemple</string>
	<key>immediatePlate</key>
	<string>ignoredHandler</string>
	<key>screenmodule</key>
	<string>seamlessListener</string>
	<key>tappablevectortheme</key>
	<string>insteadStore</string>
	<key>unactivatedTicker</key>
	<string>disposeMomentum</string>
</dict>
</plist>
