<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionworkflow</key>
	<string>parallelRadius</string>
	<key>consultativeAnimator</key>
	<string>primarymodaltransparency</string>
	<key>currentfactory</key>
	<string>ignoredNotation</string>
	<key>fixedRow</key>
	<string>tweenAdapter</string>
	<key>gemthroughmethod</key>
	<string>yieldMedia</string>
	<key>geometricModule</key>
	<string>shouldDisposeOption</string>
	<key>grainschema</key>
	<string>shouldRebuildGram</string>
	<key>metadatashapepadding</key>
	<string>subscribeTangent</string>
	<key>nibphasetint</key>
	<string>dismissScreen</string>
</dict>
</plist>
