<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedhero</key>
	<string>canTransformSubpixel</string>
	<key>discardedLoss</key>
	<string>timertension</string>
	<key>entitytolerance</key>
	<string>connectBuffer</string>
	<key>pointTension</key>
	<string>restartCache</string>
	<key>rectangleName</key>
	<string>injectRepository</string>
	<key>seamlessChooser</key>
	<string>unlockBuilder</string>
	<key>serviceMomentum</key>
	<string>uniqueMultiplication</string>
	<key>shouldcontinuepainter</key>
	<string>shouldAnimateCapsule</string>
	<key>subtleTouch</key>
	<string>assetaboutaction</string>
	<key>transformernearvar</key>
	<string>promiseActivity</string>
</dict>
</plist>
