<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticMechanism</key>
	<string>writeTransition</string>
	<key>disabledSingleton</key>
	<string>ternaryProxy</string>
	<key>fixedCapacity</key>
	<string>rectcomponent</string>
	<key>inheritedLinker</key>
	<string>canUnmountedTransition</string>
	<key>persistentInfo</key>
	<string>equalInjection</string>
	<key>pivotalBloc</key>
	<string>hierarchicalaxis</string>
	<key>seconderror</key>
	<string>unbindTool</string>
	<key>subscriberrotation</key>
	<string>decorationdirection</string>
	<key>temporaryStatus</key>
	<string>canPresentMap</string>
	<key>titleDensity</key>
	<string>shouldRenderNavigator</string>
</dict>
</plist>
