<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entropyOpacity</key>
	<string>crudeAlpha</string>
	<key>granularMovement</key>
	<string>singleinjection</string>
	<key>schemaDistance</key>
	<string>persistDuration</string>
</dict>
</plist>
