<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>independentPromise</key>
	<string>observerChain</string>
	<key>onmissionchanged</key>
	<string>providerflags</string>
	<key>refactorgraphic</key>
	<string>originalTransition</string>
	<key>relationalLabel</key>
	<string>radiusforparam</string>
	<key>reusableCube</key>
	<string>soundFormat</string>
	<key>reusablearchitecture</key>
	<string>richtextValue</string>
	<key>secondElasticity</key>
	<string>advancedTransition</string>
	<key>shouldEncodeDescriptor</key>
	<string>canDecodeMission</string>
	<key>shouldLayoutEquipment</key>
	<string>priorDecoration</string>
	<key>shouldPrepareMusic</key>
	<string>publicService</string>
</dict>
</plist>
