<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionvelocity</key>
	<string>monsterPhase</string>
	<key>hardGrain</key>
	<string>hierarchicalPresenter</string>
	<key>liteChannels</key>
	<string>gramdespiteobserver</string>
	<key>permissiveLog</key>
	<string>currentPolygon</string>
	<key>precisioncoord</key>
	<string>giftSpeed</string>
	<key>processproject</key>
	<string>canDeserializeModal</string>
	<key>shouldStopMaterial</key>
	<string>capacitiesMomentum</string>
	<key>shouldTransitionConsumer</key>
	<string>quaternionAcceleration</string>
	<key>shouldUnbindAppBar</key>
	<string>cellatactivity</string>
</dict>
</plist>
