<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseConsumer</key>
	<string>semanticsBottom</string>
	<key>immutableProgressBar</key>
	<string>labelbuilder</string>
	<key>relationalRemainder</key>
	<string>uniformsliderduration</string>
	<key>shouldUpdateSemantics</key>
	<string>interpolateLabel</string>
	<key>substantialStack</key>
	<string>equipmentPrototype</string>
</dict>
</plist>
