<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>amortizationDuration</key>
	<string>crudeModulus</string>
	<key>hashrecursion</key>
	<string>canSetStateMusic</string>
	<key>shouldContinueNotification</key>
	<string>paddingShape</string>
	<key>shouldDispatchTouch</key>
	<string>rotateTransformer</string>
	<key>shouldUpdateFragment</key>
	<string>rebuildtask</string>
	<key>sizeexceptsingleton</key>
	<string>drawerResponse</string>
	<key>statelessIntegration</key>
	<string>servicefrequency</string>
</dict>
</plist>
