<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentNavigator</key>
	<string>emitTitle</string>
	<key>independentStack</key>
	<string>beginnerDuration</string>
	<key>keyCache</key>
	<string>gemValue</string>
	<key>refactorrect</key>
	<string>shouldNavigateRichText</string>
	<key>shouldNavigateAnimatedContainer</key>
	<string>diversifiedWrapper</string>
	<key>shouldPresentHero</key>
	<string>linkerBrightness</string>
</dict>
</plist>
