<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedLog</key>
	<string>resumeMonster</string>
	<key>asyncSpeed</key>
	<string>shouldpopcomposition</string>
	<key>descriptorVisible</key>
	<string>symmetricstackdepth</string>
	<key>diffableTraversal</key>
	<string>baseCycle</string>
	<key>difficultOccasion</key>
	<string>dropoutLayout</string>
	<key>lazycyclecount</key>
	<string>canMountedOperation</string>
	<key>makefuture</key>
	<string>mainTextField</string>
	<key>resourcekind</key>
	<string>shouldLoadBox</string>
</dict>
</plist>
