<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicSubscription</key>
	<string>undertakeRow</string>
	<key>criticalCharacteristic</key>
	<string>tickerContext</string>
	<key>equipmentContrast</key>
	<string>relationalprovision</string>
	<key>fixedLoader</key>
	<string>scheduleAsync</string>
	<key>loopVisibility</key>
	<string>canPresentBoxShadow</string>
	<key>materialvisitorshape</key>
	<string>resumeBorder</string>
	<key>mobileComposition</key>
	<string>newestBorder</string>
	<key>opaqueSize</key>
	<string>significantrichtext</string>
	<key>substantialWorkflow</key>
	<string>moveProvider</string>
	<key>utilcontrast</key>
	<string>nextTentative</string>
</dict>
</plist>
