<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopContraction</key>
	<string>processorDelay</string>
	<key>detailTransparency</key>
	<string>difficultProject</string>
	<key>intuitiveLabel</key>
	<string>notifyWidget</string>
	<key>layoutCenter</key>
	<string>robustMission</string>
	<key>particleContrast</key>
	<string>updateError</string>
	<key>routerformat</key>
	<string>sharedworkflow</string>
	<key>significantoptimizer</key>
	<string>canAnimatePoint</string>
</dict>
</plist>
