<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioDelay</key>
	<string>resilientPager</string>
	<key>compositionalclippermomentum</key>
	<string>canRouteSession</string>
	<key>cyclemediatorcontrast</key>
	<string>routerJob</string>
	<key>richtextStyle</key>
	<string>capacitiesDuration</string>
	<key>shouldRestartIndicator</key>
	<string>texturesubscriber</string>
	<key>uniqueAwait</key>
	<string>canStartRole</string>
</dict>
</plist>
