<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncDirection</key>
	<string>canRebuildGram</string>
	<key>crucialMultiplication</key>
	<string>makeAnimation</string>
	<key>eagerBehavior</key>
	<string>visibleimage</string>
	<key>retainedArithmetic</key>
	<string>canObserveStoryboard</string>
	<key>storagecontextpressure</key>
	<string>shaderSystem</string>
	<key>substantialSelector</key>
	<string>immutableConstant</string>
	<key>symmetricMetrics</key>
	<string>shouldMountSpecifier</string>
	<key>techniqueFrequency</key>
	<string>canPaintPromise</string>
</dict>
</plist>
