<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sensormediatorname</key>
	<string>mountedCapsule</string>
	<key>shouldFetchFragment</key>
	<string>denseAlert</string>
	<key>sustainableQueue</key>
	<string>allocatorthanvisitor</string>
</dict>
</plist>
