<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shouldsetstatesession</key>
	<string>variantOrigin</string>
	<key>webstateborder</key>
	<string>showBehavior</string>
</dict>
</plist>
