<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerCertificate</key>
	<string>shouldBuildCube</string>
	<key>menuthroughparameter</key>
	<string>custompaintDirection</string>
	<key>notifyusecase</key>
	<string>alignmentdetector</string>
	<key>shapeDistance</key>
	<string>canNotifyGestureDetector</string>
	<key>shoulddismisspainter</key>
	<string>singlebinarytail</string>
	<key>shouldmountedtechnique</key>
	<string>rangeLeft</string>
</dict>
</plist>
