<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>listenfeature</key>
	<string>newestChannel</string>
	<key>pinchableNavigation</key>
	<string>shouldCacheTabView</string>
	<key>publicNotation</key>
	<string>nativeRequest</string>
	<key>scaffoldreliability</key>
	<string>appbarContrast</string>
	<key>shouldEncodeAlert</key>
	<string>visibledimensionborder</string>
	<key>shouldValidateBase</key>
	<string>shearLocalization</string>
	<key>shouldobservescroll</key>
	<string>dialogsTension</string>
	<key>shouldparsefuture</key>
	<string>shouldDismissUnary</string>
	<key>similarRemediation</key>
	<string>routekindtint</string>
	<key>texturedisclaimer</key>
	<string>normAcceleration</string>
</dict>
</plist>
