<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equalizationbehavior</key>
	<string>statelessInteger</string>
	<key>rebuildinkwell</key>
	<string>durationVisible</string>
	<key>tensorAsset</key>
	<string>shaderkind</string>
	<key>timervisible</key>
	<string>canReplaceProtocol</string>
</dict>
</plist>
