<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicBatch</key>
	<string>logVisible</string>
	<key>convolutioncluster</key>
	<string>viewoffset</string>
	<key>evaluationDirection</key>
	<string>clippermodetag</string>
	<key>flexibleMerger</key>
	<string>notificationMethod</string>
	<key>heroatsingleton</key>
	<string>lazyIndicator</string>
	<key>shouldskiptouch</key>
	<string>disconnectTopic</string>
	<key>techniqueskewx</key>
	<string>canDecodeTernary</string>
</dict>
</plist>
