<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchTint</key>
	<string>statelessCapacities</string>
	<key>criticalBorder</key>
	<string>animateRole</string>
	<key>deferredmanager</key>
	<string>menucoord</string>
	<key>materialRestriction</key>
	<string>canNavigateBatch</string>
	<key>shouldPopTabView</key>
	<string>lostState</string>
	<key>sliderquaternion</key>
	<string>unscheduleTexture</string>
	<key>unactivatedHistogram</key>
	<string>resizableGradient</string>
</dict>
</plist>
