<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialEntity</key>
	<string>nativeReduction</string>
	<key>directlyPromise</key>
	<string>basedelay</string>
	<key>greatRequest</key>
	<string>partitionStorage</string>
	<key>mediumComponent</key>
	<string>interpolateSubscription</string>
	<key>projectSaturation</key>
	<string>dimensionSpeed</string>
	<key>shouldYieldTouch</key>
	<string>mapperShade</string>
	<key>usageskewx</key>
	<string>nextTriangles</string>
</dict>
</plist>
