<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>acceleratepreview</key>
	<string>adaptiveDelegate</string>
	<key>difficultMechanism</key>
	<string>encodeGate</string>
	<key>gemrecursion</key>
	<string>triggerFormat</string>
	<key>localClipper</key>
	<string>keyMatrix</string>
	<key>nodeInset</key>
	<string>reductionFrequency</string>
	<key>schemahue</key>
	<string>sizedboxticker</string>
	<key>scrollBehavior</key>
	<string>indicatorStrategy</string>
	<key>selectedMaterial</key>
	<string>specifiersubscription</string>
	<key>shouldHandleMonster</key>
	<string>removeHash</string>
	<key>syncpadding</key>
	<string>infoFlags</string>
</dict>
</plist>
