<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicCursor</key>
	<string>monsterMomentum</string>
	<key>capacitiesPadding</key>
	<string>deploySingleton</string>
	<key>displayableAnalyzer</key>
	<string>dismissProfile</string>
	<key>ignoredLocalization</key>
	<string>convertInterface</string>
	<key>permissivesorter</key>
	<string>staticasync</string>
	<key>selectedkernel</key>
	<string>durationContext</string>
	<key>shouldDisposeScroll</key>
	<string>deliveryTransparency</string>
</dict>
</plist>
