<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerSubscriber</key>
	<string>usedOptimizer</string>
	<key>brushDepth</key>
	<string>globalEvent</string>
	<key>brushPadding</key>
	<string>canAnimateBuilder</string>
	<key>commonTextField</key>
	<string>functionalGrid</string>
	<key>substantialscale</key>
	<string>equalWidget</string>
	<key>thresholdformat</key>
	<string>graphframeworkbrightness</string>
	<key>webSound</key>
	<string>shouldAttachSample</string>
</dict>
</plist>
