<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorshape</key>
	<string>activeSwitch</string>
	<key>disposesegment</key>
	<string>cupertinoDensity</string>
	<key>eventStyle</key>
	<string>spriteFormat</string>
	<key>injectionVelocity</key>
	<string>diffableSprite</string>
	<key>shouldListenAlert</key>
	<string>canDecodeInterpolation</string>
</dict>
</plist>
