<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>draggableNotation</key>
	<string>transitioncolor</string>
	<key>previewversusprototype</key>
	<string>indicatorEnvironment</string>
	<key>requiredvectorcoord</key>
	<string>mediaqueryInterpreter</string>
</dict>
</plist>
