<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeresolver</key>
	<string>euclideanDescription</string>
	<key>advancedpositioneddistance</key>
	<string>spotbycommand</string>
	<key>bundlematrix</key>
	<string>shouldMountedPainter</string>
	<key>concreteCheckbox</key>
	<string>storepermutation</string>
	<key>independentGraphic</key>
	<string>resultInterval</string>
	<key>repositoryparamspeed</key>
	<string>logarithmScope</string>
</dict>
</plist>
