<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveofparameter</key>
	<string>replicateTask</string>
	<key>explicitscroller</key>
	<string>contractionLayer</string>
	<key>mountedtextfield</key>
	<string>unregistervariant</string>
	<key>nextPadding</key>
	<string>crucialDescriptor</string>
	<key>shouldListenStamp</key>
	<string>giftbehavior</string>
</dict>
</plist>
