<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationtolerance</key>
	<string>observerValue</string>
	<key>navigatorprototypeskewy</key>
	<string>rebuildrepository</string>
	<key>rectOffset</key>
	<string>generateButton</string>
	<key>resilientGrain</key>
	<string>permanentResponse</string>
	<key>shouldDeserializeProject</key>
	<string>popOverlay</string>
</dict>
</plist>
