<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explicitTime</key>
	<string>catalystacceleration</string>
	<key>mainPet</key>
	<string>statefulformhead</string>
	<key>mediumSound</key>
	<string>displayDuration</string>
	<key>rendercontroller</key>
	<string>chartForce</string>
	<key>shouldTransitionSwitch</key>
	<string>sustainablePolygon</string>
	<key>staticCharacter</key>
	<string>imperativeAxis</string>
</dict>
</plist>
