<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialContrast</key>
	<string>geometricTouch</string>
	<key>eagerfuture</key>
	<string>shouldPaintArithmetic</string>
	<key>lastPager</key>
	<string>semanticsContrast</string>
	<key>sampleSize</key>
	<string>nextScenario</string>
	<key>transformeratlayer</key>
	<string>defaultPlayback</string>
</dict>
</plist>
