<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeResponse</key>
	<string>animatedcontainerProxy</string>
	<key>descriptionRotation</key>
	<string>rangeEdge</string>
	<key>mediaVisible</key>
	<string>storyboardmenu</string>
	<key>nodeOrigin</key>
	<string>insteadmanager</string>
	<key>permanentstoryboard</key>
	<string>statelessInset</string>
	<key>pivotalAperture</key>
	<string>canObserveDropdownButton</string>
</dict>
</plist>
