<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousAspect</key>
	<string>interactiveResult</string>
	<key>diversifiedOccasion</key>
	<string>aspecttransparency</string>
	<key>isolatedirection</key>
	<string>directarchitecture</string>
	<key>largeColor</key>
	<string>cupertinoInteractor</string>
	<key>mapAppearance</key>
	<string>trainAnimatedContainer</string>
	<key>priorityspeed</key>
	<string>requestChapter</string>
	<key>shouldRebuildGestureDetector</key>
	<string>mutableIndicator</string>
	<key>tweakrate</key>
	<string>capacitiestint</string>
</dict>
</plist>
