<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activateddecorationtension</key>
	<string>paintTabView</string>
	<key>calculateloop</key>
	<string>canSerializeTask</string>
	<key>compositionPosition</key>
	<string>resultamongdecorator</string>
	<key>customizedGrayscale</key>
	<string>pivotalCapacities</string>
	<key>explicitLatency</key>
	<string>dismissPreview</string>
	<key>streamstrategyedge</key>
	<string>disposeAspectRatio</string>
	<key>tangentAlignment</key>
	<string>loopEnvironment</string>
	<key>webItem</key>
	<string>labelparameteralignment</string>
	<key>zonethreshold</key>
	<string>retrieveAction</string>
</dict>
</plist>
