<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicRadio</key>
	<string>memberincludemode</string>
	<key>cubitorigin</key>
	<string>canPauseBuilder</string>
	<key>hashmargin</key>
	<string>cupertinoGrain</string>
	<key>momentumSpeed</key>
	<string>disabledCreator</string>
	<key>pushzone</key>
	<string>nodeEnvironment</string>
	<key>sortedEntity</key>
	<string>publishTool</string>
	<key>textureAcceleration</key>
	<string>scopeTop</string>
</dict>
</plist>
