<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineleft</key>
	<string>workflowOrigin</string>
	<key>extendpreview</key>
	<string>mutableMechanism</string>
	<key>globalcard</key>
	<string>resourcecompositeskewx</string>
	<key>grainparamkind</key>
	<string>shouldFormatCatalyst</string>
	<key>imperativeLinker</key>
	<string>drawerTemple</string>
	<key>priorAnimator</key>
	<string>embedException</string>
	<key>spotduringframework</key>
	<string>normalCursor</string>
	<key>spotprovision</key>
	<string>shouldPersistContraction</string>
	<key>spriteoperationinterval</key>
	<string>bufferShade</string>
	<key>ternaryagainstprocess</key>
	<string>catalystformat</string>
</dict>
</plist>
