<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contrastTag</key>
	<string>resolverschema</string>
	<key>dimensionmodetheme</key>
	<string>invisibleStamp</string>
	<key>fusedDependency</key>
	<string>clipAllocator</string>
	<key>giftbottom</key>
	<string>fragmentasmethod</string>
	<key>invisibleAxis</key>
	<string>rapidCluster</string>
	<key>pivotalTraversal</key>
	<string>alertPadding</string>
	<key>routeIndex</key>
	<string>revisitGrid</string>
	<key>scaleFlags</key>
	<string>easyMission</string>
	<key>vectorSpeed</key>
	<string>staticbandwidth</string>
</dict>
</plist>
