<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dimensionKind</key>
	<string>elasticTicker</string>
	<key>imagerectangle</key>
	<string>basicProtocol</string>
	<key>multiplicationdepth</key>
	<string>usedContrast</string>
	<key>vectoradapterright</key>
	<string>subsequentParticle</string>
</dict>
</plist>
