<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesForce</key>
	<string>threadInterpreter</string>
	<key>currentexpandededge</key>
	<string>iterativeSignature</string>
	<key>extendcupertino</key>
	<string>activateMenu</string>
	<key>notifysign</key>
	<string>petVar</string>
	<key>providerfrequency</key>
	<string>presentDescriptor</string>
	<key>sanitizeinstruction</key>
	<string>shouldDisconnectSymbol</string>
	<key>statelessConfiguration</key>
	<string>musicSize</string>
</dict>
</plist>
