<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryimage</key>
	<string>invisibleChallenge</string>
	<key>blocphaseright</key>
	<string>geometricRestriction</string>
	<key>mobileTweak</key>
	<string>primaryZone</string>
	<key>shouldBindRole</key>
	<string>tweenrange</string>
	<key>sortedVideo</key>
	<string>permissiveReliability</string>
</dict>
</plist>
