<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveConstraint</key>
	<string>seamlessTransition</string>
	<key>assetnumberrotation</key>
	<string>listviewfromsystem</string>
	<key>backwardBandwidth</key>
	<string>searcherShade</string>
	<key>frameBound</key>
	<string>continuegem</string>
	<key>restrictionMomentum</key>
	<string>intuitiveZone</string>
	<key>sortedListView</key>
	<string>groupState</string>
</dict>
</plist>
