<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerTheme</key>
	<string>bindMobile</string>
	<key>binderVisibility</key>
	<string>reduceFrame</string>
	<key>crucialIcon</key>
	<string>shouldParseScreen</string>
	<key>delicatemodulusskewx</key>
	<string>iconProcess</string>
	<key>entropybesidescope</key>
	<string>threadRight</string>
	<key>intensityuntildecorator</key>
	<string>permissiveCollection</string>
	<key>nativeElement</key>
	<string>statefulHero</string>
	<key>observerstyleorientation</key>
	<string>cardBorder</string>
	<key>remainderCenter</key>
	<string>granularRouter</string>
	<key>staticResolver</key>
	<string>typicalTexture</string>
</dict>
</plist>
