<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedShape</key>
	<string>borderTemple</string>
	<key>numericalScene</key>
	<string>shouldTrainCatalyst</string>
	<key>resultprovider</key>
	<string>animatedTernary</string>
	<key>uniformLabel</key>
	<string>notificationBorder</string>
</dict>
</plist>
