<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pinchableCompletion</key>
	<string>hyperbolicFuture</string>
	<key>tensorColor</key>
	<string>shouldattachlogarithm</string>
</dict>
</plist>
