<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedFragment</key>
	<string>connectEqualization</string>
	<key>mediocreplate</key>
	<string>permissiveScene</string>
	<key>particleDuration</key>
	<string>factoryActivity</string>
	<key>reduceruntilpattern</key>
	<string>playbackForm</string>
	<key>sceneAcceleration</key>
	<string>registerCurve</string>
	<key>shouldLayoutSine</key>
	<string>inactiveBox</string>
	<key>specifyDescriptor</key>
	<string>pivotalPlayback</string>
	<key>storyboardDelay</key>
	<string>skinforparameter</string>
	<key>symmetricSemantics</key>
	<string>criticalReliability</string>
</dict>
</plist>
