<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custompaintRotation</key>
	<string>animationRight</string>
	<key>desktopDetail</key>
	<string>unaryIndex</string>
	<key>elementorigin</key>
	<string>directlyCurve</string>
	<key>enabledmodule</key>
	<string>latencyTag</string>
	<key>metricsColor</key>
	<string>prepareProfile</string>
</dict>
</plist>
