<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>functionalCubit</key>
	<string>mountSpecifier</string>
	<key>gestureSpacing</key>
	<string>integerSize</string>
	<key>graphicawait</key>
	<string>directlyGraphic</string>
	<key>hashFrequency</key>
	<string>backwardAnalyzer</string>
	<key>ignoredScenario</key>
	<string>newestTaxonomy</string>
	<key>inflatelabel</key>
	<string>tablestyle</string>
	<key>loopStyle</key>
	<string>streamcoord</string>
	<key>reactiveTable</key>
	<string>isolateFormat</string>
	<key>smallInstruction</key>
	<string>materialSelector</string>
	<key>tickerslider</key>
	<string>resultIndex</string>
</dict>
</plist>
