<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileinterface</key>
	<string>viewtheme</string>
	<key>floatfuture</key>
	<string>seamlessController</string>
	<key>lastconverter</key>
	<string>mountedCube</string>
	<key>paddingduration</key>
	<string>canInflateChallenge</string>
	<key>secondCharacter</key>
	<string>animatedcontainerDistance</string>
</dict>
</plist>
