<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianDocument</key>
	<string>sustainableCatalyst</string>
	<key>directlyLoader</key>
	<string>shouldDismissExpanded</string>
	<key>drawerdelay</key>
	<string>offsetTopic</string>
	<key>elasticVector</key>
	<string>synchronousSegue</string>
	<key>independentslideredge</key>
	<string>intensitySaturation</string>
	<key>managerdelay</key>
	<string>substantialSwift</string>
	<key>shouldMountedCursor</key>
	<string>resilientintensityedge</string>
</dict>
</plist>
