<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicDetector</key>
	<string>fetchRichText</string>
	<key>checklistInset</key>
	<string>largechallengebrightness</string>
	<key>layeropacity</key>
	<string>musicBorder</string>
	<key>originalMedia</key>
	<string>canTransformSkin</string>
	<key>shouldDecodePriority</key>
	<string>spinState</string>
	<key>storageinterpretercount</key>
	<string>listenIcon</string>
	<key>tensorTentative</key>
	<string>interfacebrightness</string>
</dict>
</plist>
