<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleRow</key>
	<string>webEmitter</string>
	<key>inflateunary</key>
	<string>projectionFlyweight</string>
	<key>numericalException</key>
	<string>crudeMargin</string>
	<key>presenterState</key>
	<string>subsequentRenderer</string>
	<key>publicBaseline</key>
	<string>formatStateful</string>
	<key>resumesink</key>
	<string>decorationbesideoperation</string>
	<key>shaderchapter</key>
	<string>pushAlpha</string>
	<key>synchronousScroll</key>
	<string>continueSpine</string>
	<key>texturevaluevelocity</key>
	<string>respectiveFuture</string>
</dict>
</plist>
