<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionAnalyzer</key>
	<string>shouldMountTernary</string>
	<key>boxshadowthanenvironment</key>
	<string>drawStorage</string>
	<key>delegatebloc</key>
	<string>decodeGroup</string>
	<key>imageorientation</key>
	<string>arithmeticRemainder</string>
	<key>indicatorTail</key>
	<string>shouldValidateConsumer</string>
	<key>nextConfiguration</key>
	<string>canEncodeHero</string>
	<key>normBrightness</key>
	<string>canBindKernel</string>
	<key>objectColor</key>
	<string>interactiveOverlay</string>
	<key>radioCenter</key>
	<string>persistentExtension</string>
</dict>
</plist>
