<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>layoutShade</key>
	<string>delicateTransition</string>
	<key>nextCompletion</key>
	<string>shouldProcessBuilder</string>
	<key>prevremainderstatus</key>
	<string>reactiveResource</string>
	<key>resilientbuilder</key>
	<string>resizeProvider</string>
	<key>subsequentDelegate</key>
	<string>intuitiveDescriptor</string>
	<key>webScenario</key>
	<string>requiredExtension</string>
</dict>
</plist>
