<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedConsumption</key>
	<string>marshalstore</string>
	<key>customworkflowcolor</key>
	<string>substantialCard</string>
	<key>cycleutil</key>
	<string>radiusformdistance</string>
	<key>euclideanTolerance</key>
	<string>masterformat</string>
	<key>loopvalueshape</key>
	<string>shaderAppearance</string>
	<key>lostPadding</key>
	<string>paddingTemple</string>
	<key>shouldencodeinterpolation</key>
	<string>rangeTail</string>
	<key>smartTweak</key>
	<string>symbolStatus</string>
</dict>
</plist>
