<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeCertificate</key>
	<string>retrieveSubscription</string>
	<key>directlyComponent</key>
	<string>difficultPreview</string>
	<key>dynamicCharacter</key>
	<string>shouldPushStateful</string>
	<key>hyperbolicUseCase</key>
	<string>bulletTag</string>
	<key>respectiveFactory</key>
	<string>richtextDecorator</string>
	<key>shouldContinueNavigation</key>
	<string>staticComposition</string>
	<key>shouldNavigateLoss</key>
	<string>shouldpresentrole</string>
</dict>
</plist>
