<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionExtension</key>
	<string>techniqueBorder</string>
	<key>advancedEvent</key>
	<string>robustCapacity</string>
	<key>bufferTag</key>
	<string>matrixdirection</string>
	<key>directLoss</key>
	<string>canEmitTable</string>
	<key>layerlocation</key>
	<string>relationalBrush</string>
	<key>shouldvalidateactivity</key>
	<string>durationStage</string>
	<key>smartLifecycle</key>
	<string>createTable</string>
</dict>
</plist>
