<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedActivity</key>
	<string>intuitiveMetrics</string>
	<key>emitradius</key>
	<string>restoreResponse</string>
	<key>managerName</key>
	<string>localizationamortization</string>
	<key>primaryImage</key>
	<string>monstermodestyle</string>
	<key>themevisitorduration</key>
	<string>shouldSkipSkirt</string>
	<key>unactivatedpublisher</key>
	<string>cycleLevel</string>
</dict>
</plist>
