<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheasplatform</key>
	<string>unbindAspect</string>
	<key>crucialReplica</key>
	<string>temporaryTable</string>
	<key>curveOpacity</key>
	<string>concurrentConfidentiality</string>
	<key>customMend</key>
	<string>analyzeStorage</string>
	<key>difficultBaseline</key>
	<string>navigatorScope</string>
	<key>prevDetector</key>
	<string>canYieldMap</string>
	<key>protocolLeft</key>
	<string>inactiveconsumer</string>
	<key>screenTint</key>
	<string>rectoutsidefacade</string>
	<key>shouldSaveConstraint</key>
	<string>offsetlocation</string>
	<key>widgetversusfunction</key>
	<string>prismaticNotation</string>
</dict>
</plist>
