<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesBound</key>
	<string>routeResource</string>
	<key>diversifiedTentative</key>
	<string>gridtriangles</string>
	<key>flexiblePet</key>
	<string>detachMovement</string>
	<key>groupstylescale</key>
	<string>modalTop</string>
	<key>mutableTween</key>
	<string>sustainableSlash</string>
	<key>soundState</key>
	<string>shouldLoadSubpixel</string>
</dict>
</plist>
