<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emittable</key>
	<string>featureColor</string>
	<key>invokeeffect</key>
	<string>graphTension</string>
	<key>logSaturation</key>
	<string>canSubscribeSpecifier</string>
	<key>resilientItem</key>
	<string>instructionTask</string>
	<key>substantialBullet</key>
	<string>remainderWork</string>
</dict>
</plist>
