<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directService</key>
	<string>animatedcontainerscale</string>
	<key>dynamicPrecision</key>
	<string>cartesianGate</string>
	<key>enabledView</key>
	<string>protecteddetail</string>
	<key>materializemap</key>
	<string>painterMemento</string>
	<key>precisioncount</key>
	<string>shouldDispatchCycle</string>
	<key>prismaticScroller</key>
	<string>largeCharacteristic</string>
	<key>projectiondistance</key>
	<string>mediumVertex</string>
	<key>shouldShowCustomPaint</key>
	<string>disconnectDrawer</string>
	<key>shouldlistenstoryboard</key>
	<string>functionalSlash</string>
</dict>
</plist>
