<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionVariant</key>
	<string>rebuildTask</string>
	<key>directMargin</key>
	<string>sustainableGate</string>
	<key>drawerlikebridge</key>
	<string>logSystem</string>
	<key>eventAlignment</key>
	<string>resolverPadding</string>
	<key>flexibleStorage</key>
	<string>hyperbolicHandler</string>
	<key>layoutshapeduration</key>
	<string>custompaintEnvironment</string>
	<key>popupRotation</key>
	<string>remaindersinceframework</string>
	<key>sensorBehavior</key>
	<string>primaryBitrate</string>
	<key>shouldBuildGridView</key>
	<string>canListenPrecision</string>
	<key>shouldShowAlpha</key>
	<string>entityTint</string>
</dict>
</plist>
