<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleTransition</key>
	<string>comprehensiveIntegrity</string>
	<key>detectortransparency</key>
	<string>similarinjectiontail</string>
	<key>diffableBuilder</key>
	<string>reusableSizedBox</string>
	<key>gramindex</key>
	<string>consumptionTint</string>
	<key>permanentOccasion</key>
	<string>shouldDisconnectEquipment</string>
	<key>scaleFormat</key>
	<string>immediateExpanded</string>
</dict>
</plist>
