<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessiblecoordinatordepth</key>
	<string>unlockgroup</string>
	<key>anchorTransparency</key>
	<string>shouldloadbloc</string>
	<key>animationdepth</key>
	<string>extendIntensity</string>
	<key>architectureOffset</key>
	<string>canShowMonster</string>
	<key>conformunary</key>
	<string>retainedChannel</string>
	<key>disabledCompleter</key>
	<string>primarypainter</string>
	<key>disabledTopic</key>
	<string>hierarchicalspine</string>
	<key>flexibleMargin</key>
	<string>materialCustomPaint</string>
	<key>seamlessScalability</key>
	<string>uniformConstraint</string>
	<key>starttouch</key>
	<string>prismaticmobile</string>
</dict>
</plist>
