<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>distinctioncount</key>
	<string>transformTool</string>
	<key>firstSizedBox</key>
	<string>robustChart</string>
	<key>functionalResponse</key>
	<string>difficultSearcher</string>
	<key>onimagetap</key>
	<string>localTrajectory</string>
	<key>previewcontainsingleton</key>
	<string>cancelPrecision</string>
	<key>unactivatedcube</key>
	<string>smartSorter</string>
</dict>
</plist>
