<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectvalidation</key>
	<string>invisibleStack</string>
	<key>enabledListView</key>
	<string>pushAnimation</string>
	<key>graphicanimator</key>
	<string>shouldStopStoryboard</string>
	<key>immutablebuilderbottom</key>
	<string>clipSubscription</string>
	<key>originalComponent</key>
	<string>gateSystem</string>
	<key>sineshape</key>
	<string>shouldStopProject</string>
	<key>sustainableDistinction</key>
	<string>difficultService</string>
</dict>
</plist>
