<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionname</key>
	<string>shouldHandleCurve</string>
	<key>decorationdrawer</key>
	<string>serializeStorage</string>
	<key>directlyAlpha</key>
	<string>wrapperIndex</string>
	<key>elementCoord</key>
	<string>momentumSystem</string>
	<key>erasecosine</key>
	<string>canStreamGesture</string>
	<key>injectioninterval</key>
	<string>generatestorage</string>
	<key>menuTail</key>
	<string>materializerdistance</string>
	<key>statefulmissionoffset</key>
	<string>cancelChannels</string>
	<key>symbolValidation</key>
	<string>operationCoord</string>
</dict>
</plist>
