<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptivesizetheme</key>
	<string>shouldCreateAperture</string>
	<key>bulletInterval</key>
	<string>alignmentvisitorvisibility</string>
	<key>criticalnavigatororigin</key>
	<string>rebuildCycle</string>
	<key>euclideanusage</key>
	<string>agileMaterial</string>
	<key>prismaticPermutation</key>
	<string>copyOffset</string>
	<key>providerwithoutdecorator</key>
	<string>canDisposeDescriptor</string>
	<key>shouldtransformdropdownbutton</key>
	<string>rectifybase</string>
	<key>vectorbottom</key>
	<string>shouldAnimateMultiplication</string>
</dict>
</plist>
