<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directCubit</key>
	<string>opaqueConstant</string>
	<key>mediocreSize</key>
	<string>dropdownbuttonMethod</string>
	<key>nativepositionspacing</key>
	<string>mitigateUtil</string>
	<key>prismaticException</key>
	<string>canEmitPrecision</string>
	<key>processorTag</key>
	<string>radioTension</string>
	<key>shouldupdateduration</key>
	<string>popCosine</string>
	<key>subtlePicker</key>
	<string>differentiateposition</string>
	<key>textureTension</key>
	<string>pushEvent</string>
	<key>webCurve</key>
	<string>logarithmBorder</string>
</dict>
</plist>
