<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianLog</key>
	<string>stepstageinterval</string>
	<key>cupertinoSelector</key>
	<string>basicAscent</string>
	<key>iterativeSound</key>
	<string>smartUtil</string>
	<key>painterarchitecture</key>
	<string>canUnmountTouch</string>
	<key>signscopebound</key>
	<string>onstoryboardchanged</string>
</dict>
</plist>
