<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>combinerContrast</key>
	<string>intuitiveSample</string>
	<key>deserializebase</key>
	<string>bufferaslevel</string>
	<key>mediumascent</key>
	<string>temporaryAudio</string>
	<key>originalCanvas</key>
	<string>particleasstyle</string>
	<key>rowobservermargin</key>
	<string>canListenListView</string>
	<key>selectorDistance</key>
	<string>resourceerror</string>
	<key>shouldDeserializeHeap</key>
	<string>thresholdSize</string>
	<key>symmetricboxshadow</key>
	<string>shouldSavePet</string>
	<key>traversalShade</key>
	<string>sustainableTask</string>
	<key>updatematerial</key>
	<string>inflateState</string>
</dict>
</plist>
