<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionMesh</key>
	<string>disabledOperation</string>
	<key>agileUseCase</key>
	<string>maintainPopup</string>
	<key>diffablelistener</key>
	<string>unsortedanalyzer</string>
	<key>eagerHero</key>
	<string>accordionchartskewy</string>
	<key>immediateThread</key>
	<string>transposeDuration</string>
	<key>mediocreCharacter</key>
	<string>accessibleequipmentorigin</string>
	<key>scalabilityLocation</key>
	<string>transitionLocation</string>
	<key>screenasfacade</key>
	<string>directPrecision</string>
	<key>skinForce</key>
	<string>exceptionScale</string>
</dict>
</plist>
