<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptivemission</key>
	<string>extensiongrain</string>
	<key>delicateDescriptor</key>
	<string>presenterslider</string>
	<key>mobileatwork</key>
	<string>visitEntity</string>
	<key>observerdespitescope</key>
	<string>captureGroup</string>
	<key>shouldHandlePageView</key>
	<string>shouldCancelAnimatedContainer</string>
	<key>shouldTrainCaption</key>
	<string>startDuration</string>
	<key>smallgram</key>
	<string>defaultSemantics</string>
</dict>
</plist>
