<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileAspect</key>
	<string>shouldunmountedappbar</string>
	<key>channelsMargin</key>
	<string>canTrainGate</string>
	<key>desktopalphatail</key>
	<string>blocsincestate</string>
	<key>equalizationdata</key>
	<string>dissociateEvent</string>
	<key>iconwithphase</key>
	<string>buildOption</string>
	<key>permissiveEvent</key>
	<string>notifierDuration</string>
	<key>reactiveStroke</key>
	<string>sortedContraction</string>
	<key>shouldserializeslash</key>
	<string>tweenLayer</string>
	<key>specifyInkWell</key>
	<string>customizedModel</string>
</dict>
</plist>
