<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorfactory</key>
	<string>signincludeaction</string>
	<key>crucialInkWell</key>
	<string>usagemetadata</string>
	<key>ephemeralTween</key>
	<string>updatedescription</string>
	<key>temporaryNavigation</key>
	<string>consumerStructure</string>
</dict>
</plist>
