<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedPolygon</key>
	<string>optionPadding</string>
	<key>exponentactivityshade</key>
	<string>shouldContinueShader</string>
	<key>flexibleCubit</key>
	<string>substantialData</string>
	<key>immutableDependency</key>
	<string>ephemeralSizedBox</string>
	<key>nextEfficiency</key>
	<string>permutationmargin</string>
	<key>nexttweenbehavior</key>
	<string>profileMethod</string>
	<key>notificationBottom</key>
	<string>fixedEntropy</string>
	<key>petSpacing</key>
	<string>modelspacing</string>
	<key>unactivatedListView</key>
	<string>discoverFeature</string>
</dict>
</plist>
