<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredSwift</key>
	<string>mapPattern</string>
	<key>dispatchmusic</key>
	<string>lastClipper</string>
	<key>normalEvolution</key>
	<string>channelAlignment</string>
	<key>protocolPadding</key>
	<string>mountinterpolation</string>
	<key>selectedFlex</key>
	<string>canCacheSession</string>
	<key>shouldKeepNib</key>
	<string>concurrentTechnique</string>
	<key>tappableEntity</key>
	<string>permissiveSlider</string>
	<key>utilormode</key>
	<string>unaryMode</string>
</dict>
</plist>
