<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveSymbol</key>
	<string>polygonScale</string>
	<key>alertfeature</key>
	<string>boxFrequency</string>
	<key>allocatorDensity</key>
	<string>analyzeQueue</string>
	<key>channelscalability</key>
	<string>priorIsolate</string>
	<key>largeMargin</key>
	<string>localizationProxy</string>
	<key>newestConsumer</key>
	<string>oldPicker</string>
	<key>primaryChallenge</key>
	<string>canRebuildMember</string>
	<key>storageoutsidecycle</key>
	<string>canDisconnectInterpolation</string>
	<key>swiftvelocity</key>
	<string>partitionFrame</string>
</dict>
</plist>
