<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeVolume</key>
	<string>priorityFeedback</string>
	<key>adaptivePositioned</key>
	<string>deactivateStream</string>
	<key>alertTension</key>
	<string>shouldEmitRemainder</string>
	<key>capacitySize</key>
	<string>canYieldLayout</string>
	<key>cellOpacity</key>
	<string>entropyCommand</string>
	<key>comprehensiveStore</key>
	<string>interactiveEvaluation</string>
	<key>cyclemementotop</key>
	<string>decorationedge</string>
	<key>scheduleclipper</key>
	<string>synchronizemenu</string>
	<key>scrollalignment</key>
	<string>accessoryBuffer</string>
	<key>shouldPublishBehavior</key>
	<string>equalException</string>
</dict>
</plist>
