<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fragmentsshade</key>
	<string>associatedSprite</string>
	<key>masterTail</key>
	<string>errorOrientation</string>
	<key>nativeCatalyst</key>
	<string>shouldInflateMonster</string>
	<key>originalPopup</key>
	<string>unactivatedRemediation</string>
	<key>resizableLogarithm</key>
	<string>transformFuture</string>
	<key>throughputdirection</key>
	<string>litePicker</string>
</dict>
</plist>
