<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convertimage</key>
	<string>activatedMobile</string>
	<key>creatorCount</key>
	<string>borderDepth</string>
	<key>immutableMenu</key>
	<string>navigateFrame</string>
	<key>localFragment</key>
	<string>intermediateModal</string>
	<key>onanchorchanged</key>
	<string>geometricUtil</string>
	<key>priorityOpacity</key>
	<string>materializerrate</string>
</dict>
</plist>
