<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>annotateprovider</key>
	<string>elasticArchitecture</string>
	<key>elasticityOrientation</key>
	<string>replicateLocalization</string>
	<key>evaluationInset</key>
	<string>cardWork</string>
	<key>finishalpha</key>
	<string>pushCupertino</string>
	<key>gridviewSpacing</key>
	<string>grainBorder</string>
	<key>otherEntity</key>
	<string>shouldDisconnectCertificate</string>
	<key>requiredProjection</key>
	<string>canRebuildPainter</string>
	<key>shouldListenSegue</key>
	<string>entropyvariableforce</string>
	<key>sortedAsset</key>
	<string>aspectTheme</string>
</dict>
</plist>
