<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedequalization</key>
	<string>displayHash</string>
	<key>backwardLoss</key>
	<string>localNavigation</string>
	<key>mechanismLeft</key>
	<string>markSink</string>
	<key>modalMode</key>
	<string>shouldBindPriority</string>
	<key>remainderBrightness</key>
	<string>pivotalProvision</string>
	<key>sorterInset</key>
	<string>materialchallengesaturation</string>
</dict>
</plist>
