<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonOrigin</key>
	<string>observeraction</string>
	<key>charactermementopressure</key>
	<string>metadataForm</string>
	<key>criticaltechnique</key>
	<string>resourceTier</string>
	<key>disparatePositioned</key>
	<string>oldSymbol</string>
	<key>keylistener</key>
	<string>bindMediaQuery</string>
	<key>modalPadding</key>
	<string>activeFilter</string>
	<key>projectionColor</key>
	<string>decodeConvolution</string>
	<key>standaloneGrayscale</key>
	<string>sinkcenter</string>
</dict>
</plist>
