<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>functionalmonster</key>
	<string>significantSorter</string>
	<key>imperativeConverter</key>
	<string>immediateAnalogy</string>
	<key>liteTouch</key>
	<string>searchAwait</string>
	<key>unactivatedRange</key>
	<string>shouldListenLog</string>
</dict>
</plist>
