<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesFeedback</key>
	<string>borderJob</string>
	<key>completionStatus</key>
	<string>containerDelay</string>
	<key>creatorSkewY</key>
	<string>unmountedMobile</string>
	<key>cupertinoTween</key>
	<string>popupDirection</string>
	<key>disabledSensor</key>
	<string>respectiveisolate</string>
	<key>dropdownbuttonHue</key>
	<string>readSingleton</string>
	<key>occasionBottom</key>
	<string>temporaryModule</string>
	<key>streamgrain</key>
	<string>retainEvent</string>
</dict>
</plist>
