<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fusedtext</key>
	<string>interactiveEvent</string>
	<key>mobileAlpha</key>
	<string>advancedLabel</string>
	<key>prismaticSpot</key>
	<string>consumptionOrigin</string>
	<key>reflecttool</key>
	<string>composableIcon</string>
	<key>tappableisolate</key>
	<string>taskbylayer</string>
</dict>
</plist>
