<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>draggableData</key>
	<string>crudeLog</string>
	<key>handlertension</key>
	<string>durationCommand</string>
	<key>webException</key>
	<string>layouttrajectory</string>
	<key>webMechanism</key>
	<string>interactivetitlemomentum</string>
</dict>
</plist>
