<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardComposition</key>
	<string>endActivity</string>
	<key>blocstore</key>
	<string>hardRepository</string>
	<key>difficultKernel</key>
	<string>accordionGem</string>
	<key>publicTimeline</key>
	<string>descriptionbridgevalidation</string>
	<key>semanticEquipment</key>
	<string>shouldListenSwitch</string>
	<key>similarInterpolation</key>
	<string>criticalModel</string>
	<key>sinktrigger</key>
	<string>imperativeSearcher</string>
	<key>smartimpression</key>
	<string>canEndController</string>
	<key>toolSize</key>
	<string>ondescriptorchanged</string>
</dict>
</plist>
